<p>Заказан звонок менеджера от {$smarty.const.TITLE}</p>

<b>{$smarty.const.S_NAME}</b> {$smarty.post.name}<br>
<b>{$smarty.const.S_PHONE}:</b> {$smarty.post.phone}<br>
<b>{$smarty.const.S_SUBJECT}:</b> {$enum.subjects[$smarty.post.subject]}<br>
<b>{$smarty.const.S_TIME}:</b> {$smarty.post.time}<br>

