Администрация салона "Андеграунд" благодарит Вас за регистрацию на сайте <a href="http://{$smarty.const.TITLE}">{$smarty.const.TITLE}</a>. В течение 12 часов Вам будет разблокирован доступ для персонального доступа на наш сайт.<br/><br/>
Ваш логин: {$item.email}<br />
Ваш пароль: {$item.pass}<br />
