<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">        
<title></title>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="margin:0;padding:0;-webkit-text-size-adjust:none; font-family:Helvetica, Arial">
{literal}
<style type="text/css">
table td{
border-collapse:collapse;
}
td.topcontact a { color:#363636; text-decoration:none }
td.topcontact a:hover { color:#363636; text-decoration:underline }
</style>{/literal}<center>{$body}</center>
<p><img src="[VIEW_IN_MAILBOX]" alt="" width="1" height="1" /></p>
</body></html>