{if $i.mode.1 eq 1}
<a href="art_edit.php?id={$i.id}&control={$i.control|default:'article'}"><img src="../images/icons/edt.gif" alt="" /></a>
{else}
<img src="../images/icons/sp.gif" alt="" />
{/if}


<a href="javascript:if(confirm('{$smarty.const.CF_DELETE_ARTICLE}')) javascript:deleteArticle('{$i.id}', '{$i.parent_id}')"><img src="../images/icons/delete.gif" alt="" /></a>
{if $i.mode.2 eq 1}

{else}
<img src="../images/icons/sp.gif" alt="" />
{/if}

{if $i.mode.0 eq 1}
<a href="art_edit.php?parent_id={$i.id}&control={$i.ch_control|default:'article'}"><img src="../images/icons/add2.gif" alt="" /></a>
{else}
<img src="../images/icons/sp.gif" alt="" />
{/if}
{if $i.control eq 'action'}
<a href="to_archive.php?id={$i.struct_id}&bid={$i.parent_id}"><img src="../images/icons/zip2.gif"  alt="" width="16" height="16" /></a>
{else}
<img src="../images/icons/sp.gif" alt="" />
{/if}
{if $i.level gt 1 and $i.control neq 'home'}
<a href="art_clone.php?id={$i.struct_id}&bid={$i.parent_id}"><img src="../images/icons/clone.gif"  alt="" width="16" height="16" /></a>
{else}
<img src="../images/icons/sp.gif" alt="" />
{/if}
{if $i.control eq 'catl2'}
<a href="art_edit.php?parent_id={$i.id}&control=prod"><img src="../images/icons/add.gif" alt="" /></a>
{else}
<img src="../images/icons/sp.gif" alt="" />
{/if}

{if $smarty.const.IS_DEBUG_INIT}
<img src="../images/icons/sp.gif" alt="" />
{* <span style="vertical-align: top">|</span> *}
{strip}
<a href="art_edit.php?id={$i.id}&control=admin"><img src="../images/icons/edt.gif" alt="" /></a>
<a href="art_edit.php?parent_id={$i.id}&control=admin"><img src="../images/icons/add2.gif"  alt="" /></a>
<a href="art_clone.php?id={$i.struct_id}&bid={$i.parent_id}"><img src="../images/icons/thing2.gif"  alt="" width="16" height="16" /></a>
{/strip}
{/if}