.tabsholder {
	background: url("../../../images/site/header_menu_btm_uzor.gif") no-repeat scroll 50% 100% transparent;
    padding: 0px 0 15px;
    width: 100%;
	margin-bottom: 10px;
}
ul.tabs {
	overflow:hidden;
	margin: 0px;
}
.tabclass {
	border: 1px solid #b5b5b5;
	overflow:hidden;
	background:#fff;
}
ul.tabs li {
	list-style-type:none;
	display:block;
	float:left;
	border: 1px solid #b5b5b5;
	background:#b5b5b5;
	cursor:pointer;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'heliosthinregular', sans-serif;
	font-weight: bold;
	width: 115px;
	margin-right: 5px;
	text-align: center;
	padding: 7px;
	color: #fff;
}
ul.tabs li.current {
	background: #fff;
	color: #000;
	border-bottom: 1px solid #fff;
}
.tabscontent {
	display:none;
	width:100%;
}
/* ------ slider
-----------------------------------------------*/
.slider {
	float:left;
	width:960px;
	height:330px;
	position:relative;
}

.sliderContent {
	float:left;
	width:960px;
	height:330px;
	clear:both;
	position:relative;
	overflow:hidden;
}

.sliderContent .item {
	position:absolute;
	width:960px;
	height:330px;
}
.sliderContent .item_img {
	width:675px;
	float: left;
}
.sliderContent .item_desc {
	width:285px;
	height:330px;
	background: #fbf9f8;
	text-align: center;
	font-size: 16px;
	float: left;
}
.slider_logo {
	margin-bottom: 36px;	
}
.sliderContent .item_desc p {
	margin-bottom: 12px;
	padding: 0 5px;
}
.sliderContent .item_desc a {
	color: #425d81;
}
.sliderContent h1, .sliderContent h2, .sliderContent h3, .sliderContent h4, .sliderContent h5 {
	line-height: normal;
	margin-bottom: 10px;
}
.sliderContent a.slider_more {
	background: #425d81;
	font-size: 18px;
	line-height: 35px;
	text-transform: uppercase;
	color: #fbfbfb;
	text-decoration: none;
	text-align: center;
	display: block;
	margin: 0 auto;
	height: 35px;
	width: 164px;
	border: 1px solid #ccc;
}

.sliderArrows a {
display:block;
text-indent:-9999px;
outline:none;
z-index:50;
background-image:url(gfx/prev_next.png);
width:41px;
height:41px;
position:absolute;
top:50%;
margin-top:-34px;
}
.prev {
background-position:0 0;
left:285px;
}
.next {
right:0px;
background-position:-41px 0;
}
.sliderBullets {
	position:absolute;
	bottom:12px;
	right:12px;
	z-index:50;
}

.sliderBullets a {
	display:inline-block;
	text-indent:-9999px;
	outline:none;
	margin-right: 6px;
	width:12px;
	height:12px;
	background:url(gfx/bullets.png) no-repeat;
}

.sliderBullets .active {
	background-position:0 -12px;
}
