* {margin:0; padding:0; list-style:none;}

html, body {
	height:100%;
	min-height:100%;
}
body {
	background:#FFF;
	font:normal 12px Arial;
	color:#666;
	line-height:130%;
}
img {border:0;}

a {color:#006699;text-decoration:underline;}
a:hover {color:#2591c7;}

	
.wrap, .main_navi, .fast_navi_container, .placing, .edit_area, .left, .nested_item, .nested_item p, .form_item {
	overflow:hidden;
	min-height:1%;
}
* html .wrap, * html .main_navi, * html .fast_navi_container, * html .placing, * html .edit_area, * html .left, * html .nested_item, * html .nested_item p, * html .form_item {
	overflow:visible;
	height:1%;
}

.wrapper:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}
div, .wrapper {min-height:1%;}
* html div, * html .wrapper {height: 1%;}

.err {color: #F00;}



/* Width */
.container_body, .footer {min-width:1000px;} /* ie 6 fix in odmingoIEfix.css */

.container_body {min-height:100%;} /* ie 6 fix in odmingoIEfix.css */
.head {
	background:#397eb0 url(../../../images/admin/fon_head.gif) repeat-x top;
	text-align:right;
	padding:5px 35px 0 0;
	min-height:66px;
	color:#FFF;
	position:relative;
} /* ie 6 fix in odmingoIEfix.css */
.head .service_menu {
	color:#b9b9b9;
	font-size:11px;
	padding-bottom:10px;
}
.head .service_menu a {color:#FFF;}
.head .service_menu a:hover {text-decoration:none;}
.head h1.logo {
	position:absolute;
	width:83px;
	height:18px;
	font-size:0;
	text-indent:-9999em;
	background:url(../../../images/admin/db_drive4.gif) no-repeat;
	top:25px;left:33px;
	z-index:2;
}
.head h1.logo a {display:block;height:18px;}

.main_menu {
	position:relative;
	background:#10639f;
	padding:2px 0px 0 35px;
	font-size:13px;
}
.main_navi li {float:left;padding-right:2px;}
.main_navi li a {
	padding:10px 17px 9px;
	text-decoration:none;
	color:#d0dae2;
	display:block;
}
.main_navi li a:hover {
	color:#FFF;
	background:#2873a9;
}
.main_navi li.on a, .main_navi li.on a:hover {
	background:#FFF;
	color:#000;
	cursor:text;
}
.main_navi li.fast_navi {
	float:right;
	margin-top:4px;
	padding:4px 13px 5px;
	background:#FFF;
	font-size:14px;
}
.main_navi .fast_navi a {
	color:#0076a3;
	border-bottom:dashed 1px #0076a3;
	display:inline;
	padding:0;
	background:transparent;
}
.main_navi .fast_navi a:hover {
	color:#000;
	border-bottom:dashed 1px #000;
	padding:0;
	background:transparent;
}

/* fast navi div */
.main_menu .fast_navi_holder {
	position:absolute;
	top:0;right:35px;left:35px;
	background:#FFF;
	z-index:5;
} /* ie 6 fix in odmingoIEfix.css */
.iefix_div {border:solid 1px #cac9c9;}
.close_fast_navi {
	padding:9px 12px 50px;
	text-align:right;
	font-size:14px;
}
.close_fast_navi a {
	text-decoration:none;
	background:url(../../../images/admin/close.gif) no-repeat 0 4px;
	padding-left:16px;
}
.close_fast_navi a:hover {color:#000;}
.close_fast_navi a span {border-bottom:dashed 1px #0076a3;}
.close_fast_navi a:hover span {border-color:#000;}
.fast_navi_container {padding:0 20px 50px;position:relative;}
.first_open {
	position:absolute;
	left:26%;top:0;
	padding:55px 0 0 25px;
	width:465px;
}
.first_open div.wrap {font-size:14px;padding-bottom:25px;}
.first_open img {float:left;}
.first_open p.wrap {padding-left:23px;}
.fast_navi_container ul {
	border-right:solid 1px #10639f;
	min-height:289px;
}
* html .fast_navi_container ul {height:289px;}
.fast_navi_container .first {width:240px;font-size:18px;}

.fast_navi_container li {padding:7px 0 6px 15px;}

.fast_navi_container a.marker {
	margin-top:-6px;
	float:right;
	display:block;
	width:24px;
	height:27px;
	background:url(../../../images/admin/fast_navi_arr_off.gif) no-repeat 8px 9px;
}
.fast_navi_container a.marker:hover, .fast_navi_container li.on a.marker {
	background:#006699 url(../../../images/admin/fast_navi_arr_on.gif) no-repeat 8px 9px;
}
/*on and mid on and off states*/
.fast_navi_container li.on {background:#006699;}
.fast_navi_container li.on a {color:#FFF;}
.fast_navi_container li.on a:hover {color:#EFEFEF;}
.fast_navi_container li.on li a {color:#006699;} /* first ul is on, but others still normal */ 
.fast_navi_container li.on li a:hover {color:#2591c7;}
.fast_navi_container li.on li a.marker {background:url(../../../images/admin/fast_navi_arr_off.gif) no-repeat 8px 9px;}/* same shit about .marker */ 
.fast_navi_container li.on li a.marker:hover, .fast_navi_container li li.on a.marker {
	background:#006699 url(../../../images/admin/fast_navi_arr_on.gif) no-repeat 8px 9px;
}
.fast_navi_container li li.on a {color:#FFF;}
.fast_navi_container li li.on a:hover {color:#EFEFEF;}

.fast_navi_container li.on li.on li a {color:#006699;} /* second ul is on, but others still normal */ 
.fast_navi_container li.on li.on li a:hover {color:#2591c7;}
.fast_navi_container li.on li.on li a.marker {background:url(../../../images/admin/fast_navi_arr_off.gif) no-repeat 8px 9px;}/* same shit about .marker */ 
.fast_navi_container li.on li.on li a.marker:hover, .fast_navi_container li li.on li.on a.marker {
	background:#006699 url(../../../images/admin/fast_navi_arr_on.gif) no-repeat 8px 9px;
}
.fast_navi_container li li.on li.on a {color:#FFF;}
.fast_navi_container li li.on li.on a:hover {color:#EFEFEF;}

.fast_navi_container li.on li.on li.on li a {color:#006699;} /* second ul is on, but others still normal */ 
.fast_navi_container li.on li.on li.on li a:hover {color:#2591c7;}

.fast_navi_container li.on li.on li.on li {padding:4px 0 3px 13px;}

.fast_navi_container .first .first {
	position:absolute;
	top:0;left:261px;
	width:190px;
	font-size:14px;
	display:none;
}
.fast_navi_container .first .first .first {left:191px;font-size:12px;}
.fast_navi_container .first .first .first .first {font-size:11px;border:0;}

.content {
	margin:0 35px;
	padding:30px 0 150px;
}
.placing {
	padding:0 0 15px 17px;
	text-align:right;
	font-size:11px;
}
.placing li {display:inline;}
.placing b {font-size:14px;color:#000;}
.placing big {padding:0 2px;font-size:18px;}
.breadcrumbs {float:left;padding-top:2px;}
.breadcrumbs a, .nested_item small a {color:#7D7D7D;}
.breadcrumbs a:hover, .nested_item small a:hover {color:#999;}
.breadcrumbs a.last {
		background:url(../../../images/admin/darr.gif) no-repeat 100% 4px;
		padding-right:8px;
}
.content_head {
	background:url(../../../images/admin/fon_content_head.gif) repeat-x bottom;
	padding-left:17px;
	height:37px;
}
.content_head h2 {
	float:left;
	color:#333;
	font-size:18px;
	padding-right:23px;
}
p.tab_on {
	float:left;
	font-size:11px;
	color:#333;
	margin-right:15px;
	border:solid 1px #BBB;
}
p.tab_on {
	border-bottom:0;
	height:33px;
	padding:3px 10px 0;
	background:#FFF;
}

p.tab_on img {margin:0 6px -1px 0;}

p.tab_off {
    float:left;
    font-size:11px;
	color:#333;
	margin-right:15px;
	border:solid 1px #BBB;            
	height:33px;
	padding:2px 10px 0;
	background:#F4F4F4;
	cursor: pointer;
}

.edit_area {
	padding:0 17px 18px;
	border-bottom:solid 1px #c8c8c8;
}
.edit_area h6, .edit_area h5 {font-size:12px;color:#7B7B7B;padding-bottom:15px;}
.edit_area h5 {padding-bottom:7px;}

.form_item {padding-bottom:15px;}
.double {padding-bottom:30px;}

.form_item label {
	color:#000;
	display:block;
	padding-bottom:2px;
}

.form_item table {
	border-collapse: collapse;
}

.form_item p, .form_item table {
	float:left;
	width:48.5%;
}


.form_item p + p, .form_item p + table {float:right;} /* ie6 fix in odmingoIEfix.css */
.grid .text, .grid .textarea, .form_item .text, .form_item textarea, .login .text{
	border:solid 1px #999;
	font:normal 11px Arial;
	color:#666;
	padding:2px;
	width:97%;
}

 .form_item select {
	font:normal 13px Arial;
	color:#666;
	width:99%;
	/*height:20px;*/
 }
 .checkboxes {padding-bottom:25px;}
 .checkboxes * {vertical-align:middle;}
  .checkboxes label {margin-right:40px;color:#000;}
.checkboxes label input {margin-right:4px;}


.edit_area .right {
	float:right;
	width:26%;
	padding-top:30px;
}
.neMalevich {
	background:#B9B9B9;
	height:237px;
	margin-bottom:20px;
}
.left {padding:30px 30px 0 0;}
.nested_levels {
	border:solid 1px #c8c8c8;
	position:relative;
	padding:3px;
	margin-bottom:20px;
}

.grid {border:solid 1px #c8c8c8;
	padding:3px;
	margin-bottom:20px;
	border-collapse: collapse;
	width:100%;
	}

.grid tr td, .grid tr th {border-bottom:solid 1px #c8c8c8;
	padding:5px;
	}


p.legend {
    margin: 9px 0 9px 32px;
}
.nested_levels .nested_item {padding:9px;border-bottom:solid 1px #E3E3E3;}
.nested_item:hover, .hover, .grid tr:hover {background:#e8e8e8;}
.grid tr:hover th{background:#ffffff;}
.nested_levels .nested_item.last {border:0;}

.nested_item ins {
	float:left;
	width:44px;
	text-align:right;
	padding-right:16px;
	padding-top:2px;
}

.nested_item small {
	font-size:11px;
	float:right;
	width:252px;
}
.nested_item em {
	float:right;
	width:19px;
	cursor:move;
}
.nested_item p {}




/* Footer */
.footer {
	position:relative;
	margin-top:-76px;
	background:#e3e3e3;
	border-top:solid 2px #c8c8c8;
	height:74px;
	font-size:11px;
	color:#000;
}
.footer p {padding:14px 0 0 37px;}

button.button {
    border: none;
    overflow: visible; 
    width:auto;
    height: 22px;
    background-color: #fff;
    cursor: pointer;
    padding: 0;
    float: left;
    margin-right: 5px; 
}

button.button::-moz-focus-inner { border: none; padding: 0;  margin: 0; } 

button.button div {
    background: url(../../../images/admin/fon_butt.gif) repeat-x 0 0;
    border: 1px solid #BBB;
    height: 14px;  
    font:11px Arial;
    padding: 3px 10px 2px;
    cursor: pointer;
    white-space:nowrap;
}
button.button div img {
    margin:0 6px -1px 0;
}

a.butt, a.butt:hover {
	float:left;
    font:11px Arial;
    color:#333;
	margin-right:15px;
	border:solid 1px #BBB;  
    background:#e0e0e0 url(../../../images/admin/fon_butt.gif) repeat-x top;
	text-decoration:none;
	padding: 3px 10px 2px;
}
a.butt img {margin:1px 6px -1px 0;}

/*
.login {background:url(../../../images/admin/bg_login.jpg) top center no-repeat; min-height: 100%; width: 100%; height: 100%;}
	.login .in {margin:0 auto; width:388px; text-align:left; padding-top:20%;}
	.login .td12 {background:#F8F8F8;}
	.login .tr2 td , .login .td32 {background:#FFFFFF;}
	.login h2{margin-bottom:0;}
	.login label {padding-right:18px;}
	.login .inp {width:252px;}
	.login .copy {color:#FFFFFF; padding:32px 0;}
	.login .copy a {color:#FFFFFF;}
*/	


body.index {background: url(../../../images/admin/bg_login.jpg)) left top repeat-x; background-color: #10639F;}

.login {}
	.login .in {margin:0 auto; width:388px; text-align:left; padding-top:15%;}
	.login .td12 {background:#F8F8F8;}
	.login .tr2 td , .login .td32 {background:#FFFFFF;}
	.login h2{margin-bottom:0;}
	.login label {padding-right:18px;}
	.login .inp {width:252px;}
	.login .copy {color:#FFFFFF; padding:32px 0;}
		.login .copy a {color:#FFFFFF;}

#coords {display: none;}
.clear {float: right;}

input#reset {width: 30px; border: 0; height: 22px; background: #DCD5CA url(../../../images/resetbg.gif) 0 0 no-repeat; cursor: pointer; display:block;}
.nobrd {border-width: 0px !important; background: none}

.hint {    background: url(../../../images/icons/info2.gif) no-repeat; padding-left: 20px; float: right;}

/*
#progress {
  position: absolute;
  top: 20; 
  left: 90%; 
  color: #ffffff; 
  font-weight: bold;
  background-color: #FF2233;
  width: 80px;
  height: 20px;
  margin-top: -2px;
  padding: 12px 6px 6px 10px;
  } */
  
#progress {
  color: #ffffff; 
  font-weight: bold;
  background-color: #FF0000;
  height: 16px;
  width: 70px;
  float: right;
  display: none;
  padding: 9px 6px 9px 10px;
  } 
  
#tab_multiupload .left fieldset, #editContent fieldset { margin-bottom:10px; border:1px solid #bcbdbf }
#tab_multiupload .left fieldset legend, #editContent fieldset legend { color:#3a7587; font-weight:bold }
#tab_multiupload .left table { width:50% }
#tab_multiupload .left table, #tab_multiupload .left table td{ border-collapse: collapse; border:1px solid #C8C8C8 }
#tab_multiupload .left input, #tab_multiupload .left textarea, #tab_multiupload .left select {width:98%; border:1px solid #3a7587; background-color:#FFF; font-size:11px; }
#tab_multiupload .left textarea { height:100px }
#tab_multiupload .left input.check { border:none !important; width:auto; background-color:transparent !important; }
#tab_multiupload .left select.inp { width:auto }
#tab_multiupload .left table td { vertical-align: top; /* width:25%; */ padding:5px 8px}
#tab_multiupload .left .tinyMCE table td { padding:0px !important; width: 0px}
.edit_action_btn { margin-top:20px; text-align:left}   