<div class="block_404">
    <div class="text_404">
        <div class="num_404 floatl">&nbsp;</div>
        <div class="floatl">
            {$items.0.content|content}
        </div>
    </div>
    <div class="search_404">
        <p>{$smarty.const.S_SEARCH}:</p>

        <div class="search floatr">
            <form action="{$smarty.get.global.root}/search/" method="get">
                <input class="inp" onclick="if(this.value == '{$smarty.const.S_SEARCH}') this.value=''" type="text" name="query" value="{$smarty.const.S_SEARCH}"/>
                <input class="btn" type="submit" value=""/>
            </form>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>



