<div id="cont">
	<div class="title clearfix">
		<div class="title clearfix">
		<h1>{$smarty.get.global.struct.1.name}</h1> <a href="/rss/news/" style="margin-left: 10px" title="RSS-лента"><img src="/images/rss.png" height="20" /></a>
		<div class="path" style="">{include_php file="content/lister.inc.php"
			tpl_name="content/breadcrumbs.tpl" plevel=0 cond="a1.path = '$path'"}</div>
	</div>
	<div class="mainCont clearfix">
		{if $items.0.img1}
		<img
			src="{$smarty.get.global.root}/upload/article_big/{$items.0.img1}"
			width="380" alt="{$items.0.name}" align="left"
			style="margin: 0 10px 10px 0;" />
		{/if} {$items.0.content|content}
	</div>
	{*<DIV id="share_block">
		{include file="block/share_block.tpl"}
	</DIV>*}
	{include_php file="content/lister.inc.php"
	tpl_name="content/destinations.tpl" plevel=0
	cond="as1.control='subdomen' AND as1.level=1"}
</div>
