{assign var=path  value=$smarty.get.global.struct.1.path}
{assign var=path2  value=$smarty.get.global.struct.2.path}

{*<h1>{$smarty.get.global.struct.1.name}</h1>*}
{*<a href="/rss/news/" style="margin-left: 10px" title="RSS-лента"><img src="/images/rss.png" height="20"/></a>*}

{include_php file="content/lister.inc.php" tpl_name="content/breadcrumbs.tpl" plevel=0 cond="a1.path = '$path'"}

<div class="post-text-fix ">
    {if $path2!='news' }
        {if $path2!='about/actions' }
            {if $items.0.img1 }
                <img
                        src="{$smarty.get.global.root}/upload/article_big/{$items.0.img1}"
                        width="380"
                        alt="{$items.0.name}"
                        title="{$items.0.name}"
                        align="left"
                        />
            {/if}
        {/if}
    {/if}
    {$items.0.content|content}
    {*{$items.0.content|description}*}
    {*{$items.0.content|@print_r}*}
    <br>
    {if $path eq 'partnership/Arhitektoram_i_dizaineram'}
        {include_php file = "content/feedback_article.inc.php"}
    {/if}
    <br><br>
</div>
{*<div id="share_block">*}
{*{include file="block/share_block.tpl"}*}
{*</div>*}

