<div class="subMenu_sec"{if !$items} style="background: none;"{/if}>
	<ul>
		{foreach from=$items item=i key=k name=f}
		<li><a href="{$smarty.get.global.root|subdomain:$i.path}/{$i.path}/" class="sm{$smarty.foreach.f.iteratiion}"><span>{$i.name}</span></a></li>
		{/foreach}
	</ul>
</div>