<div class="catBrandInfo clearfix">
	{if $items.0.img2}
	<div class="brandLogo">
	<img src="{$smarty.get.global.root}/upload/article_big/{$items.0.img2}" width="200" height="103" alt="{$items.0.name}" />
	</div>
	{/if}
	<h3>{$items.0.name}</h3>
	{$items.0.content|content}
</div>