<ol class="breadcrumb">


    {*<?*}{php}
        echo '
        <li><a href="/">Главная</a></li>
        ';
        $path='/';
        $rstruct = $_GET['global']['rstruct'];
        if (strpos($_SERVER['REQUEST_URI'], '/sale/')) {
        $rstructtmp = $rstruct;
        $rstruct[2] = array('psevdonim'=>'sale', 'name' => 'Распродажа');
        $rstruct[3] = $rstructtmp[2];
        }
        if (strpos($_SERVER['REQUEST_URI'], '/offers/')) {
        $rstructtmp = $rstruct;
        $rstruct[2] = array('psevdonim'=>'offers', 'name' => 'Спецпредложения');
        $rstruct[3] = $rstructtmp[2];
        }
        if (strpos($_SERVER['REQUEST_URI'], '/archives/')) {
        $rstructtmp = $rstruct;
        $rstruct[2] = array('psevdonim'=>'archives', 'name' => 'Архив');
        $rstruct[3] = $rstructtmp[2];
        }
        if (preg_match('#/(sale|offers|archives)/$#isU', $_SERVER['REQUEST_URI'])) {
        unset($rstruct[3]);
        }
        if (preg_match('#^/[^/]*/place/#isU', $_SERVER['REQUEST_URI'])) {
        unset($rstruct[3]);
        }
        $count = sizeof($rstruct)-1;
        for($i=1;$i<$count;$i++)
        {
        if (isset($rstruct[$i+1]) && $rstruct[$i]['name'] == $rstruct[$i+1]['name']) {
        continue;
        }
        $path .= $rstruct[$i]['psevdonim'].'/';
        echo '
        <li><a href="'.$path.'">'.$rstruct[$i]['name'].'</a></li>
        ';

        }

        echo '
        <li class="active">'.$rstruct[$i]['name'].'</li>
        ';

        echo '
        <li style="float: right;"><a href="'.$rstruct[$i]['psevdonim'].'/?gate=1">Описание раздела</a></li>
        ';




    {/php}


</ol>