{if $items}
<h5>{$smarty.const.S_KEYWORDS}</h5>
<div id="tags">
{foreach from=$items item=i name="tags"}
<a href='{$smarty.get.global.root}/search/?tag={$i}'>{$i}</a>{if !$smarty.foreach.tags.last}, {/if}
{/foreach}
</div>
{/if}