
{foreach from = $items item = i}
    <span style=" padding-bottom: 5px; margin-left: 20px; display: block"><a href="{$smarty.get.global.root|subdomain:$i.path}/{$i.path}/">{$i.name}</a></span>
{/foreach}