{php}
    if(strstr($_SERVER["REQUEST_URI"], '/sanitary/') != false)
        echo '<a href="/sanitary/?type=new">Новинки сантехники</a>';
    if(strstr($_SERVER["REQUEST_URI"], '/plitka/') != false)
        echo '<a href="/plitka/?type=new">Новинки плитки</a>';
    if(strstr($_SERVER["REQUEST_URI"], '/mebel/') != false)
        echo '<a href="/mebel/?type=new">Новинки мебели</a>';
    if(strstr($_SERVER["REQUEST_URI"], '/svet/') != false)
        echo '<a href="/svet/?type=new">Новинки света</a>';
{/php}