{assign var=path  value=$smarty.get.global.struct.1.path}
{php}
    $usrl = explode("?",$_SERVER["REQUEST_URI"]);
    if(strstr($_SERVER["REQUEST_URI"], '/sanitary/') != false){
        echo '<a href="/sanitary/?type=new">Новинки сантехники</a>';
        echo '<a href="'.$usrl[0].'?type=sklad">В наличии</a>';
        }
    if(strstr($_SERVER["REQUEST_URI"], '/plitka/') != false){
        echo '<a href="/plitka/?type=new">Новинки плитки</a>';
        echo '<a href="'.$usrl[0].'?type=sklad">В наличии</a>';
    	}
    if(strstr($_SERVER["REQUEST_URI"], '/mebel/') != false){
        echo '<a href="/mebel/?type=new">Новинки мебели</a>';
        echo '<a href="'.$usrl[0].'?type=sklad">В наличии</a>';
        }
    if(strstr($_SERVER["REQUEST_URI"], '/svet/') != false){
        echo '<a href="/svet/?type=new">Новинки света</a>';
        echo '<a href="'.$usrl[0].'?type=sklad">В наличии</a>';
        }
{/php}