{foreach from=$items item=i name=n}
   {if $smarty.session.role && $smarty.session.role eq $i.sprop1}
    <li>
        <a href="{$smarty.get.global.root|subdomain:$i.path}/{$i.path}/">
            {$smarty.const.S_PRICE}
        </a>
    </li>
    {elseif $smarty.session.role && $smarty.session.role eq 1}
    <li>
         <a href="{$smarty.get.global.root|subdomain:$i.path}/{$i.path}/">
            {$i.name}
         </a>
    </li>
    {/if}
{/foreach}