﻿{literal}
<script>
$(document).ready(function(){  
  
  $('body').click(function(){
        $('.black_overlay').hide();
        $('#clarify').hide();
  }); 
  
  $('#clarify').click(function(event){
      event.stopPropagation();
  });
});
 </script>
{/literal}  
<a href="" class="thickbox" onclick="$('.black_overlay').show(); $('#clarify').fadeIn();" id="a_pricing">Уточнить цену, условия поставки и другие подробности по товару</a>
<div id="clarify" style="display: none;">
{if $smarty.get.s eq 2}{literal}<script>alert('{/literal}{$smarty.const.LBL_SENT_SUCCESS}{literal}');window.onload = function() {yaCounter23717377.reachGoal('get_pricing');return true  }</script>{/literal}<br />{/if}
<form {$form_data.attributes}>
	{$form_data.javascript}
	{$form_data.hidden}
	<div style="display: none;">{$form_data.field_1.html}{$form_data.field_2.html}</div>
<h1>{$smarty.const.S_DETAILS}</h1>						
<table>
		<col width="170">
        <input type="hidden" name="prod_name" value="{$smarty.get.global.struct.1.name}">
        <input type="hidden" name="link" value="{$smarty.get.global.root|subdomain:$smarty.get.global.struct.1.path}/{$smarty.get.global.struct.1.path}/">
			<tr>
				<td> {$smarty.const.S_PROD_NAME}</td>
				<td>{$smarty.get.global.struct.1.name}</td>
			</tr>
			<tr>
				<td>{$smarty.const.S_ENTER_NAME}&nbsp;<span style="color: red;">*</span></td>
				<td>{$form_data.name.html}</td>
			</tr>
			<tr>
            <tr>
				<td>{$smarty.const.S_PHONE}&nbsp;<span style="color: red;">*</span></td>
				<td>{$form_data.phone.html}</td>
			</tr>
			<tr>
				<td>{$smarty.const.S_U_EMAIL}&nbsp;<span style="color: red;">*</span></td>
				<td>{$form_data.email.html}</td>
			</tr>
			<tr>
				<td>{$smarty.const.S_MESSAGE}</td>
				<td>{$form_data.message.html}</td>
			</tr>
	  <tr>
      <td>&nbsp;</td>
      <td><input type="submit" value="Отправить" class="submit_button"></td>
    </tr>  
		</table>
	
	
	
</form>
<a class="fancybox-item fancybox-close" href="javascript:void(0)" onclick="$('.black_overlay').hide();$('#clarify').hide();" title="Close"></a>
</div>
<div class="black_overlay"></div>    