<div class="row">

    <div class="col-lg-12">


        <div id="categories">
            <div class="row">


                {*{foreach from=$items item=i name=f}*}
                    {*{if $smarty.get.global.struct.1.path neq $i.path}*}
                        {*{php}*}
                            {*$i = $this->get_template_vars('i');*}
                            {*$subdomen_id = $i['struct_id'];*}
                            {*$subdomen_psevd = $i['path'];*}
                            {*$oDb = &Database::get();*}
                            {*$vendor = $oDb->getRows("SELECT a1.psevdonim FROM art_struct as a1 LEFT JOIN art_struct as a2 ON a2.parent_id=a1.struct_id WHERE a1.control = 'collection' AND a1.is_deleted = '0' AND a1.is_hidden = '0' AND a2.sprop10 = '1' AND a2.sprop1 != '1' and a1.parent_id='$subdomen_id' GROUP BY a1.psevdonim  ORDER BY a1.sprop3 ASC");*}
                            {*if (!empty($vendor)) {*}
                            {*$vendor = $vendor[0]['psevdonim'].'/#cat';*}
                            {*}*}
                        {*{/php}*}
                        {*<div class="col-md-3">*}
                            {*<div class="row">*}
                                {*<div class="thumbnail">*}
                                    {*{include_php file="master/img.inc.php" path="/upload/article" img=$i.img1 tpl_name="block/img.tpl" alt=$i.name width="342" height="166"}*}
                                    {*<a class="caption" href="{$smarty.get.global.root|subdomain:$i.path}/{$i.path}/sale/{php} echo $vendor; {/php}">*}
                                        {*{$i.name}*}
                                    {*</a>*}
                                {*</div>*}
                            {*</div>*}
                        {*</div>*}
                        {*<div class="rubEl{if $smarty.foreach.f.iteration%2 eq 0} r_right{if $smarty.foreach.f.last} last{/if}{/if}">*}
                        {*<a href="{$smarty.get.global.root|subdomain:$i.path}/{$i.path}/sale/{php} echo $vendor; {/php}">*}
                        {*{include_php file="master/img.inc.php" path="/upload/article" img=$i.img1 tpl_name="block/img.tpl" alt=$i.name width="342" height="166"}*}
                        {*<span><i>{$i.name}</i></span>*}
                        {*</a>*}
                        {*</div>*}

                    {*{/if}*}
                {*{/foreach}*}

                {foreach from=$items item=i name=f}
                    {if $smarty.get.global.struct.1.path neq $i.path}

                        {php}
                            $i = $this->get_template_vars('i');
                            $subdomen_id = $i['struct_id'];
                            $subdomen_psevd = $i['path'];
                            $oDb = &Database::get();
                            $vendor = $oDb->getRows("
                                SELECT a1.psevdonim
                                FROM art_struct as a1
                                LEFT JOIN art_struct as a2 ON a2.parent_id=a1.struct_id
                                WHERE a1.control = 'collection'
                                AND a1.is_deleted = '0'
                                AND a1.is_hidden = '0'
                                AND a2.sprop10 = '1'
                                AND a2.sprop1 != '1'
                                AND a1.parent_id='$subdomen_id'
                                GROUP BY a1.psevdonim
                                ORDER BY a1.sprop3 ASC
                            ");

                            if (!empty($vendor)) {
                                $vendor = $vendor[0]['psevdonim'].'/#cat';
                            }
                        {/php}


                        <div class="col-md-3">
                            <div class="row">
                                <div class="thumbnail wrap">

                                    <div class="hi-icon-effect-5 hi-icon-effect-5a" style="margin: auto;" >
                                        <a href="{$smarty.get.global.root|subdomain:$i.path}/{$i.path}/sale/" class="hi-icon hi-icon-{$i.path}"></a>
                                        {*<a href="{$smarty.get.global.root|subdomain:$i.path}/{$i.path}/sale/{php} echo $vendor; {/php}" class="hi-icon hi-icon-{$i.path}"></a>*}
                                        <div class="thumbnail-border">
                                            <a class="caption" href="{$smarty.get.global.root|subdomain:$i.path}/{$i.path}/">{$i.name}</a>
                                        </div>
                                    </div>


                                    {*{include_php file="master/img.inc.php" path="/upload/article" img=$i.img1 tpl_name="block/img.tpl" alt=$i.name width="342" height="166"}*}
                                    {*<a class="caption" href="{$smarty.get.global.root|subdomain:$i.path}/{$i.path}/sale/{php} echo $vendor; {/php}">*}
                                        {*{$i.name}*}
                                    {*</a>*}

                                </div>
                            </div>
                        </div>

                        {*<div class="rubEl{if $smarty.foreach.f.iteration%2 eq 0} r_right{if $smarty.foreach.f.last} last{/if}{/if}">*}
                        {*<a href="{$smarty.get.global.root|subdomain:$i.path}/{$i.path}/sale/{php} echo $vendor; {/php}">*}
                        {*{include_php file="master/img.inc.php" path="/upload/article" img=$i.img1 tpl_name="block/img.tpl" alt=$i.name width="342" height="166"}*}
                        {*<span><i>{$i.name}</i></span>*}
                        {*</a>*}
                        {*</div>*}

                    {/if}

                    {*{/if}*}
                {/foreach}
            </div>
        </div>
    </div>


    {*<DIV id="share_block">
        {include file="block/share_block.tpl"}
    </DIV>*}
</div>
