	<div id="cont">
		<div class="title clearfix">
		<h1>{$smarty.get.global.struct.1.name}</h1>
		<div class="path" style="">
        	{include_php
                file="content/lister.inc.php"
                tpl_name="content/breadcrumbs.tpl"
                plevel=0
                cond="a1.path = '$path'"
            }
        </div>
	</div>
		<div class="mainCont clearfix">
			<div class="newsList">
                {foreach from=$items item=i key=k name=f}
				<div class="newsItem clearfix">
					<div class="b">
						<a href="{$smarty.get.global.root|subdomain:$i.path}/{$i.path}/">{$i.name}</a>
						<p>{$i.text}</p>
					</div>
				</div>
	            {foreachelse}
				<div class="newsItem clearfix">
<p>{$smarty.const.S_NO_SEARCH_RESULT}</p>
				</div>
                {/foreach}
				<div class="paging clearfix">


						 {include file="ablock/core_pager_search.tpl"}
{include file="ablock/core_pager_nav.tpl"}

				</div>
			</div>
		</div>

		{include_php file="content/lister.inc.php"
	tpl_name="content/destinations.tpl" plevel=0
	cond="as1.control='subdomen' AND as1.level=1"}

	</div>