{literal}
<script>
$(document).ready(function(){  
  
  $('body').click(function(){
        $('.black_overlay').hide();
        $('#clarify2').hide();
  }); 
  
  $('#clarify2').click(function(event){
      event.stopPropagation();
  });
});
 </script>
{/literal}  
<!--<a href="" onclick="$('.black_overlay').show(); $('#clarify2').fadeIn();" id="a_spec">Заказать звонок специалиста</a>-->
<a href="#callme" class="fancy" >Заказать звонок специалиста</a>

{if $smarty.get.s eq 1}{literal}<script>alert('{/literal}{$smarty.const.LBL_SENT_SUCCESS}{literal}')</script>{/literal}<br />{/if}
<div id="clarify2" style="display: none;">

<form {$form_data.attributes}>
	{$form_data.javascript}
	{$form_data.hidden}
	<div style="display: none;">{$form_data.field_1.html}{$form_data.field_2.html}</div>
<h1>{$smarty.const.S_ORDER_CALL}</h1>  						
<table>
		<col width="170">
        <input type="hidden" name="prod_name" value="{$smarty.get.global.struct.1.name}">
        <input type="hidden" name="link" value="{$smarty.get.global.root|subdomain:$smarty.get.global.struct.1.path}/{$smarty.get.global.struct.1.path}/">
			<tr>
				<td height="25" style="padding-bottom:5px;">{$smarty.const.S_PROD_NAME}</td>
				<td>{$smarty.get.global.struct.1.name}</td>
			</tr>
			<tr>
				<td height="25" style="padding-bottom:5px;">{$smarty.const.S_INTODUCTION}</td>
				<td>{$form_data.name.html}</td>
			</tr>
			<tr>
            <tr>
				<td height="25" style="padding-bottom:5px;">{$smarty.const.S_PHONE}&nbsp;<span>*</span></td>
				<td>{$form_data.phone.html}</td>
			</tr>
			<tr>
				<td height="25" style="padding-bottom:5px;">{$smarty.const.S_U_EMAIL}&nbsp;<span>*</span></td>
				<td>{$form_data.email.html}</td>
			</tr>
			<tr>
				<td height="25" style="padding-bottom:5px;">{$smarty.const.S_MESSAGE}</td>
				<td>{$form_data.message.html}</td>
			</tr>
	   <tr>
       <td>&nbsp;</td>
       <td><input type="submit" value="" class="submit_button" style="margin:0;"></td>
     </tr>     
		</table>
	
	
	
</form>
</div>      
      <div class="black_overlay"></div>  