

{include_php
file            = "content/innerlister.inc.php"
tpl_name        = "content/seo.tpl"
plevel          = $smarty.get.global.level
parent          = $smarty.get.global.struct.1.path
cond            = "as1.control='collection'"
disable_caching = true
}


{*<p>*}
{*<b></b>*}
{*<span>Товаров в категории {$smarty.get.global.struct.1.name}</span>*}
{*</p>*}
{*<div class="viewType">
    <a href="" class="block cur" rel="productsBlock">
        <!--  -->
    </a>
    <a href="" class="list" rel="productsList">
        <!--  -->
    </a>
</div>*}
{*{include file="block/core_pager.tpl"}*}
{*<br>*}
{*<br>*}
{*<br>*}
{*<br>*}

{*<div class="row">*}

{if $smarty.get.global.struct.1.control eq 'viewed'}

    {if $smarty.session.vprod}
        {foreach from=$smarty.session.vprod item=v}
            {include_php
            file="content/imglister.inc.php"
            tpl_name="content/prod_item_wrapper.tpl" plevel=0
            cond="as1.struct_id='$v'"}
        {/foreach}
    {/if}

{elseif $smarty.get.global.struct.1.control eq 'saved_items'}

    {if $smarty.session.saved_items}
        {foreach from=$smarty.session.saved_items item=v}
            {include_php
            file="content/imglister.inc.php"
            tpl_name="content/prod_item_wrapper.tpl" plevel=0
            cond="as1.struct_id='$v'"}
        {/foreach}
    {/if}

{elseif $smarty.get.global.struct.1.control eq 'collection' || $smarty.get.global.struct.1.control eq 'category'}


    {* выборка элементов каталога *}
    {if $smarty.get.type eq 'sklad'}


        {include_php
        file            = "content/innerlister.inc.php"
        tpl_name        = "content/subdomen_catalog_inner.tpl"
        plevel          = $smarty.get.global.level
        parent          = $smarty.get.global.struct.1.path
        param           = 1
        cond            ="as1.control='collection' AND as1.sprop7='1'"
        disable_caching = true
        }

        {* end выбрка элементов каталога *}
    {elseif $smarty.get.global.struct.1.group }

        {*{$smarty.get.path|strpos:"sale"|@print_r}*}

        {if $smarty.get.path|strpos:"sale"}

            {include_php
            file            = "content/lister.inc.php"
            tpl_name        = "content/subdomen_catalog_inner.tpl"
            plevel          = 69
            parent          = $smarty.get.global.struct.1.path
            param           = 1
            disable_caching = true
            allow_paging    = true
            cond            = "as1.sprop10 = '1' AND as1.sprop1 != '1'"
            page_size       = 50
            }

        {else}

            {include_php
            file            = "content/lister.inc.php"
            tpl_name        = "content/subdomen_catalog_inner.tpl"
            plevel          = 69
            parent          = $smarty.get.global.struct.1.path
            param           = 1
            disable_caching = true
            allow_paging    = true
            page_size       = 50
            }

        {/if}




    {else}

        {if $smarty.get.global.alias eq 'sale'}
            {include file="content/sale_catalog.tpl" }
        {else}
            {include_php
                file            = "content/innerlister.inc.php"
                tpl_name        = "content/subdomen_catalog_inner.tpl"
                plevel          = $smarty.get.global.level
                parent          = $smarty.get.global.struct.1.path
                param           = 1
                cond            ="as1.control='collection' AND as1.sprop7='1'"
                disable_caching = true
            }

        {/if}

    {/if}




{else}
    {*{include_php*}
    {*file            = "content/lister.inc.php"*}
    {*tpl_name        = "content/subdomen_catalog_lvl_1.tpl" plevel=$smarty.get.global.level*}
    {*parent          = $smarty.get.global.struct.1.path*}
    {*param           = 1*}
    {*cond            ="as1.control='collection'"*}
    {*disable_caching = true*}
    {*}*}


    {*{$items|@print_r}*}

    {*{php}*}
    {*die();*}
    {*{/php}*}

    {include file="content/group_catalog.tpl" }

    {*{include_php*}
    {*file            = "content/lister.inc.php"*}
    {*tpl_name        = "content/subdomen_catalog_lvl_1.tpl"*}
    {*plevel          = $smarty.get.global.level*}
    {*parent          = $smarty.get.global.struct.1.path*}
    {*param           = 1*}
    {*cond            ="as1.control='collection'"*}
    {*disable_caching = true*}
    {*sequence = "down"*}
    {*allow_paging=true*}
    {*page_size=6*}
    {*}*}

{/if}
{*</div>*}
