{if $aPaging.totalPages>1}
					<div class="pages_nav floatr">
{if $aPaging.prevUrl}<a href="{$aPaging.prevUrl}" class="cur">&larr; {$smarty.const.S_SEARCH_PREV}</a>{/if}
{if $aPaging.nextUrl} <a href="{$aPaging.nextUrl}" class="pager_link">{$smarty.const.S_SEARCH_NEXT} &rarr;</a>{/if}
					</div>   
{/if}