<img class="powered" alt="" src="../images/logo/smarty.gif">
<img class="powered" alt="" src="../images/logo/diamondcms.gif">
<img class="powered" alt="" src="../images/logo/apache.gif">
<img class="powered" alt="" src="../images/logo/mysql2.jpg">
<img class="powered" alt="" src="../images/logo/php2.gif" style="margin: 8px 6px 4px 3px">