{strip}
<div style="font-weight: bold">
	{foreach item="item" name="item" from=$items}
		<a href="index.php?parent_alias={$item.alias}" class="st_4">{$item.name}</a> /
	{/foreach}
	<span class="st_4" style="text-decoration: none; color: black; font-weight: 100">{$title.name}</span>
</div>
{/strip}