textarea {  resize: none; margin: 0px; padding: 0px; display: block;} 


.marked {background-color: #FFFF00; font-size: 1em !important}
.clr {width:100%; clear:both; float:none !important; height:1px !important; font-size:1px !important; }
.hidden {display:none; visible: false;}
.visible {display:block; visible: true;}
.pages {padding: 5px;  text-align: center;}
.pointer {cursor: pointer;}

.no-margin { margin: 0!important; }
.no-back { background: none; }
.no-br { border-width: 0px }

.fr {float: right;}
.fl {float: left;}
.al { text-align: left; }
.ac { text-align: center; }
.ar { text-align: right; }

/*  border: 1px solid black;   */
.cross {background: transparent url(../../images/icons/cross5.gif) no-repeat; height: 50px; width: 50px; position:relative; top: -100px; float: left; z-index: 100; left: 49%; top: -255px}
#gmaps_link {z-index: 120}