@font-face{font-family:book_antiquaregular;src:url(/templates/fonts/book_antiqua-webfont.eot?#iefix) format(embedded-opentype), url(/templates/fonts/book_antiqua-webfont.woff) format(woff), url(/templates/fonts/book_antiqua-webfont.ttf) format(truetype), url(/templates/fonts/book_antiqua-webfont.svg#book_antiquaregular) format(svg);font-weight:400;font-style:normal;font-family:book_antiquaregular}
@font-face{font-family: 'heliosthinregular';src: url('/templates/fonts/heliosthin-webfont.eot');src: url('/templates/fonts/heliosthin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/templates/fonts/heliosthin-webfont.woff') format('woff'),
         url('/templates/fonts/heliosthin-webfont.ttf') format('truetype'),
         url('/templates/fonts/heliosthin-webfont.svg#heliosthinregular') format('svg');font-weight: normal;font-style: normal}
html,body{height:100%;margin:0;padding:0}

ul{margin-left: 25px;}

body{min-width:998px;width:100%;color:#000;background-color:#fff;font:13px/15px Arial, Verdana, Helvetica, sans-serif;height:100%;min-height:100%}
font.ya-phone{color:#000;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.clear{width:100%;clear:both;float:none!important;height:1px!important;font-size:1px!important;border:none;peadding:0!important;background:transparent!important;visibility:hidden!important;margin:0!important}
textarea:focus,input:focus{outline:none}
fieldset,img{border:0 none}
table{border:0 none;border-collapse:collapse;border-spacing:0}
img{border:0}
a{text-decoration:underline;outline:none}
.minWidth{position:relative;height:100%;width:960px;margin:0 auto}
* html .minWidth{height:100%}
#header{width:100%;background:url(../../../images/site/header_menu_btm_uzor.gif) no-repeat 50% 100%;padding:30px 0 8px}
.header_block{width:100%;height:533px;padding-top:38px;background:url(../../../images/site/top_grey_transp.png) no-repeat 50% 21px}
.header_center{
	float:left;
	width:335px;
	padding-top: 12px;
}
.navIcons{float:left;margin-top:6px;margin-right:5px}
.navIcons a{display:block;float:left;margin-right:11px;width:11px;height:11px;background:url(../../../images/site/icons_sprite.gif) no-repeat 0 0}
.header_center .ph{
	float:left;
	font-size:22px;
	font-family: Arial, Helvetica, sans-serif;
}
.topPhones a {
	background-color: #425D81;
	border: 1px solid #a6b3c4;
	color: #fff;
	font-size: 15px;
	height: 35px;
	width: 100%;
	line-height: 35px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
}
.home{cursor:default}
.font_weight_bold{font-weight:bold; color: #000; font-size: 15px;}
nobr a{text-decoration: none;}
a.sitemap{background-position:-11px 0}
a.mail{background-position:-22px 0}
#mainMenu{padding-top:24px}
#mainMenu table{width:100%}
#mainMenu td{min-width:205px;vertical-align:top;padding:3px 40px 0 0}
#mainMenu td.last{padding-right:0}
#mainMenu td h5,#mainMenu td .h5{font-size:15px;color:#000;font-family:'heliosthinregular';font-weight:bold;text-transform:uppercase;border-bottom:3px solid #b5b5b5;padding-bottom:2px;margin-bottom:9px}
#mainMenu li{margin-left:-4px;padding-bottom:3px}
#mainMenu li a{font-size:13px;line-height:18px;color:#666;text-decoration:none;padding:2px 4px}
#mainMenu li span.current{background-color:#000;color:#FFF;padding:2px 4px}
.sub_header{margin:8px 0 7px}
.top_social{padding:6px 0 0}
.top_social p{float:left;color:#666;font-size:12px;line-height:13px}
.top_social a{display:block;float:left;width:12px;height:12px;background:url(../../../images/site/icons_sprite.gif) no-repeat 0 0;margin-left:12px}
.top_social a.ok{width:7px;background-position:-47px -2px}
.top_social a.vk{width:10px;background-position:-55px -2px}
.top_social a.f{width:8px;background-position:-66px -2px}
.top_social a.t{width:16px;background-position:-75px -2px}
.search{position:relative;width:262px;height:26px;background:url(../../../images/site/icons_sprite.gif) no-repeat 0 -15px}
.search input{background:none;border:0;margin:0;padding:0}
.search input.inp{color:#352e2c;font-size:12px;font-style:italic;line-height:18px;height:18px;width:231px;margin:4px 0 0 5px}
.search input.btn{position:absolute;top:6px;right:6px;background:url(../../../images/site/icons_sprite.gif) no-repeat -33px 0;width:14px;height:15px;cursor:pointer}
/*.terms_inp,#registration select{position:relative;width:262px;height:26px;background:url(../../../images/site/terms_inp_bg.png) no-repeat;border:0;padding:0 3px}*/
.terms_inp,#registration select{position:relative;width:300px;height:auto !important;padding:0}
#registration select{padding:3px}
/*.trm_message{width:262px;height:106px;background:url(../../../images/site/terms_mess.png) no-repeat;border:0;resize:none;padding:3px}*/
.trm_message{width:300px !important;height:106px;resize:none;padding:0 !important}
#clarify,#clarify2{background: none repeat scroll 0 0 #f9f9f9;border-radius: 4px;box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);height: auto;left: 50%;margin-left: -243px;overflow: visible;padding: 15px;position: fixed;top: 10%;width: 486px;z-index: 1003}
.catLinks #clarify a.fancybox-close{border-bottom: none;padding: 0;background:url("/templates/css/fancybox/fancybox_sprite.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0)}
.catLinks #clarify input.submit_button{float: right;margin: 0 13px 0 0}
#fssrm_pricing{background:#fff}
#clarify h1,#clarify2 h1{font-weight:700;font-size:18px;/*padding:30px 0 30px 25px*/padding: 17px 0;text-align: center}
/*#clarify td,#clarify2 td{padding:5px 0}*/
#clarify td,#clarify2 td{color: inherit;font-size: inherit;font-weight: inherit;padding:0}
.black_overlay{background-color:#000;display:none;height:100%;left:0;opacity:0.4;position:fixed;top:0;width:100%;z-index:1001}
#registration td{padding:5px}
#rubAndNesBlock{background:url(../../../images/site/header_menu_btm_uzor.gif) no-repeat 50% 100%;padding:0 0 5px;margin-top: -10px}
.rubBlock{width:693px}
.rubEl{position:relative;float:left;width:342px;height:166px;margin:0 9px 9px 0}
.rubEl span{display:block;width:342px;height:166px;position:absolute;top:0;left:0;background:url(../../../images/site/main_4block_border.png) no-repeat 0 0}
.rubEl span i,.rubEl span .i{position:absolute;width:100%;font-style:normal;text-align:center;bottom:15px;font-size:15px;color:#434343}
.rubEl a:hover span{background-position:0 -166px}
.newsBlock{position:relative;border:1px solid #bfbfbf;width:252px;background-color:#f2f1f1;padding:4px}
.newsBlockInner{position:relative;border:1px solid #b5b5b5;width:234px;min-height:293px;height:293px;overflow:hidden;padding:18px 8px}
.newsBlockInner_link{font-family: 'heliosthinregular';font-weight: normal;font-size: 18px;color: #040404;text-transform: uppercase;text-decoration: underline;outline: none;}
.newsBlock h4 a{font-family:heliosthinregular;font-weight:400;font-size:18px;color:#040404;text-transform:uppercase}
.newsEl{border-bottom:1px dotted #939292;padding:15px 0}
.newsEl.last{border-bottom:none;padding-bottom:11px}
.newsEl .n_dt{width:45px;float:left;margin-left:3px}
.newsEl .n_dt span{font-size:11px;line-height:11px;border-bottom:4px solid #000;padding:0 2px 2px}
.newsEl .n_text{width:182px;float:left;color:#434343;line-height:14px}
.newsEl .n_text p{color:#666;margin-top:3px}
.newsBlock .more{display:block;font-size:12px;margin-left:48px;color:#434343}
.actionsBlock{margin:14px 0 28px}
.actionsBlock h4{font-family:heliosthinregular;font-weight:400;font-size:18px;color:#040404;text-transform:uppercase;margin-bottom:7px}
.actionsBlock_actuel_actions{font-family: 'heliosthinregular';font-weight: normal;font-size: 18px;color: #040404;text-transform: uppercase;margin-bottom: 7px}
.actionEl{position:relative;float:left;margin-right:4px;width:285px;height:230px;border:1px dotted #000;padding:14px 15px}
.actionEl .img{position:relative;padding-bottom:15px}
.actionEl .img .brd{display:none;position:absolute;border:5px solid #b5b5b5;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=65);-moz-opacity:0.65;-khtml-opacity:0.65;opacity:0.65;width:275px;height:92px}
.actionEl a:hover{color:#000;text-decoration:underline}
.actionEl a{color:#8d8d8d;font-size:18px;line-height:20px}
.actionEl p{color:#434343;font-size:13px;padding-top:7px}
.actionEl .cor{position:absolute;bottom:1px;right:1px;width:9px;height:8px;background:url(../../../images/site/icons_sprite.gif) no-repeat -91px 0}
#footer{background-color:#f2f1f1;margin-bottom:25px;padding:24px 18px}
#footer h5,#footer .h5{font-size:15px;font-family:heliosthinregular;font-weight:700;color:#000;border-bottom:3px solid #b5b5b5;padding-bottom:4px;margin-bottom:11px}
.f_lSide{float:left;width:602px}
.f_lSide li{width:25%;float:left}
.f_lSide li a{color:#666;font-size:13px;line-height:18px;text-decoration:none}
.f_lSide li a:hover{text-decoration:underline;color:#000}
.f_rSide{float:right;width:240px}
.f_rSide .map{margin-right:20px}
.f_rSide .map img{border:1px solid #b5b5b5}
.f_rSide_s_contacts{font-size:15px;font-family:'heliosthinregular';font-weight:bold;display:block;color:#000;border-bottom:3px solid #b5b5b5;padding-bottom:4px;margin-bottom:11px}
.f_contacts{color:#666;font-size:13px;width:270px}
.f_contacts p{margin-bottom:13px}
.copy{position:relative;width:627px;margin-top:-10px;font-size:11px;color:#7a7a7a}
.copy .top_social{position:absolute;top:30px;right:0;padding-top:5px}
.copy .top_social p{font-size:12px}
#cont{margin-bottom:15px;border-top:1px solid #bfbfbf}
.title{border-bottom:3px solid #b5b5b5;padding:10px 0 6px}
.title h1{float:left;font-size:18px;line-height:25px;font-family:heliosthinregular;font-weight:400;color:#040404;text-transform:uppercase}
.title .path{float:right;margin-top:7px;font-size:9px}
.title .path a{color:#434343;font-size:12px;padding:0 5px}
.title .path span{color:#666;font-size:12px}
.mainCont{color:#434343;padding:10px 0 0}
.mainCont p{padding-bottom:8px}
.mainCont ul li{padding:2px 0}
.mainCont h2{font-size:37px;line-height:40px;color:#000;font-weight:400;text-transform:uppercase;padding-bottom:15px}
.mainCont h3{font-size:18px;line-height:20px;color:#010101;padding-bottom:18px}
.mainCont h4{font-size:16px;line-height:24px;color:#000;padding-bottom:12px}
.mainCont h5{font-size:15px;line-height:21px;color:#000;padding-bottom:6px}
.mainCont h6{font-size:13px;line-height:21px;color:#000;padding:5px 0 7px}
.mainCont td{font-size:12px;color:#707070}
.mainCont table td{vertical-align:top}
.directions{margin-top:16px;background:url(../../../images/site/header_menu_btm_uzor.gif) no-repeat 50% 0;padding:20px 0 0}
.directions h2{font-size:18px;line-height:25px;font-family:heliosthinregular;font-weight:400;color:#040404;text-transform:uppercase;margin-bottom:5px}
.directions .rubEl{width:235px;height:138px;overflow:hidden;margin-right:6px;margin-bottom:0}
.directions .rubEl.r_right{margin-right:7px}
.directions .rubEl span{width:235px;height:138px;background:url(../../../images/site/main_4block_border.png) no-repeat -342px 0}
.directions .rubEl a:hover span{background-position:-342px -138px}
.newsItem{border-bottom:1px solid #bfbfbf;padding:9px 0}
.newsItem .img{float:left;margin-right:12px;width:155px;overflow:hidden}
.newsItem .b{float:left;width:776px;color:#000}
.newsItem .b a{color:#000;font-size:17px;line-height:19px;font-weight:700}
.newsItem .b .n_dt{font-size:11px;line-height:13px;color:#9a9695;padding:7px 0}
.paging{padding:13px 0 0}
.pages{color:#9a9695;font-size:12px;padding-left:10px;line-height:28px}
.pages p{padding:0 3px 0 0}
.pages a{display:block;float:left;color:#434343;font-size:12px;text-decoration:none;background-color:#e5e5e5;border:1px solid #FFF;margin:0 3px;padding:0 5px}
.pages a.cur,.pages a:hover{margin-top:1px;line-height:26px;background-color:#FFF;border-color:#bfbfbf}
.pages a:hover{border:1px solid #BFBFBF;background-color:#e5e5e5}
.pages a.pager_item:hover{margin-top:1px;margin-bottom:1px}
.pages_nav{line-height:28px}
.pages_nav a{margin-left:25px;text-decoration:none}
.lSide{float:left;width:180px;margin-right:15px}
.cols_2 .lSide{width:180px;margin-right:7px}
.submenu{margin-top:2px}
.submenu ul,.submenu li{list-style-type:none;margin:0;padding:0}
.submenu li{border-bottom:1px dotted #9b9b9b;margin-bottom:17px}
.submenu li a{text-decoration:none;color:#434343;text-transform:uppercase}
.submenu li ul{margin-top:7px;border-top:1px dotted #9b9b9b;padding:8px 0 0;}
.submenu li ul li{border:none;margin-bottom:7px;margin-left:15px;list-style-type:disc}
.submenu li ul li a{text-transform:none}
.rSide{float:left;width:765px}
.rSide.saved_viewed {float: none; width: 960px;}
.catalog_tabs{width:100%;height:18px;margin-bottom:5px;margin-top:5px;float:right;padding-bottom:5px;border-bottom:1px solid #bfbfbf}
.catalog_tabs a{background-color:#000;color:#fff;display:block;float:left;padding-right:3px;padding-left:3px;padding-bottom:2px;margin-right:7px;text-decoration:none}
.cols_2 .rSide{width:773px}
.letters{font-size:15px;color:#000;padding:2px 0 4px}
.letters a{text-decoration:none;font-size:15px;color:#000;margin-right:9px;padding:0 2px}
.catElp{border-bottom:1px solid #bfbfbf;padding:13px 0 15px}
.catElp .img{float:left;margin-right:12px;width:150px;overflow:hidden;text-align:center}
#no_prices{display:none;margin-left:160px;margin-top:70px;font-size:large}
.catElp a.price_link{display:block;float:left;position:absolute;margin-left:200px;margin-top:-25px}
.catEl,.cmpEl{border-top:1px solid #bfbfbf;min-height:50px;padding:13px 0 15px}
.catEl .img{float:left;margin-right:12px;width:123px;overflow:hidden;text-align:center}
.cmpEl .letter{float:left;margin-right:3px;width:117px;font-size:45px;font-weight:400;font-family:book_antiquaregular;color:#040404;padding:15px 0 0 1px}
.catEl .b{float:left;width:592px}
.catEl .b a{display:block;float:left;border:3px solid #fff;margin:0 18px 10px 0}
.catEl .b a:hover{border:3px solid #000}
.cmpEl{padding:9px 0 2px}
.cmpEl .l{float:left;width:612px}
.cmpEl .l ul{float:left;width:135px;list-style-type:none;margin:0 15px 0 0;padding:0}
.cmpEl .l ul li{color:#434343;list-style-type:none;margin:0;padding:0 0 9px}
.cmpEl .l a{color:#434343;text-decoration:none}
.sortBlock,.sortBlock a{font-size:12px;color:#666}
.sortBlock span{font-weight:700;color:#434343}
.disItem{float:left;width:167px;height:204px;border:1px solid #bfbfbf;color:#434343;font-size:12px;margin:0 9px 10px 0;padding:6px 7px}
.disItem h3{font-size:15px;font-weight:700;color:#000;line-height:18px;margin:5px 0 9px;padding:0}
.disItem p{padding-bottom:4px}
.designer{margin-bottom:10px;padding-bottom:22px;background:url(../../../images/site/header_menu_btm_uzor.gif) no-repeat 50% 100%}
.designer .img{float:left;margin:0 10px 10px 0}
.designer h3{font-size:15px;line-height:17px;font-weight:700;color:#000;margin:0 0 10px;padding:0}
.designPrj h2{font-size:17px;line-height:25px;font-weight:700;text-transform:none;color:#000;margin-bottom:8px;padding-bottom:0}
.btnLinksRight{float:right;margin-bottom:7px;margin-right:7px}
.btnLinksRight a{display:block;float:left;border:1px solid #bfbfbf;margin-left:7px;font-size:12px;color:#434343;text-decoration:none;padding:5px 10px}
.social_cont_block{margin:7px 0}
.cattopnavbar{width:100%;margin-bottom:7px}
.cattopnavbar p{float:left;color:#666;font-size:12px}
.cattopnavbar .viewType a{display:block;width:10px;height:10px;float:left;margin-left:7px;background:url(../../../images/site/icons_sprite.gif) no-repeat 0 0;padding:0}
.cattopnavbar a.block{background-position:-126px 0}
.cattopnavbar a.list{background-position:-114px 0}
.cattopnavbar a.block.cur{background-position:-102px 0}
.cattopnavbar a.list.cur{background-position:-138px 0}
.catBrandInfo{border-bottom:1px solid #bfbfbf;margin-bottom:19px;padding:0 0 28px}
.catBrandInfo .brandLogo{float:left;width:250px;margin:0 15px 0 0}
.catBrandInfo h3{font-size:15px;line-height:17px;font-weight:700;color:#000;margin:0;padding:0 0 10px}
.catBrandInfo p{padding-bottom:5px;font-size:12px}
.prodItemWrapper{float:left;position:relative;margin:0 8px 10px 0}
.brand{position:relative;height:60px;text-align:center}
.brand img{margin-top:7px}
.prodItem{display:block;width:167px;height:275px;border:1px solid #bfbfbf;color:#434343;font-size:12px;text-decoration:none;position:relative;padding:6px 7px}
.flag_sp{position:absolute;top:6px;right:0;background-color:red;padding-left:5px;padding-right:5px;color:#FFF;font-size:14px}
.flag_new{left:6px;padding-left:135px;padding-right:5px;position:absolute;top:77px}
.counter{background:url(../../../images/site/counter.png) no-repeat 0 0;float:right;color:#FFF;margin-right:-8px}
.counter_prod{background:url(../../../images/site/counter.png) no-repeat 0 0;float:right;color:#FFF}
.price_prod span{margin-left:5px}
.prodItem h3,.prodItem .h3{font-size:15px;font-weight:700;color:#000;line-height:18px;margin:5px 0 7px;padding:0}
.productsList .prodItemWrapper{float:none}
.productsList .brand{position:relative;width:165px;height:60px;text-align:center}
.productsList .prodItem{display:block;width:100%;height:104px}
.productsList .counter{background:url(../../../images/site/counter.png) no-repeat 0 0;float:left;margin-left:10px;color:#FFF}
.productsList .counter_prod{background:url(../../../images/site/counter.png) no-repeat 0 0;float:left;color:#FFF}
.productsList .prodItem .img{width:165px;float:left;margin-right:10px;border:1px solid #bfbfbf}
.productsList .prodItem h3,.productsList .prodItem .h3{margin:1px 0 7px}
.productsList .prodItem p.price_prod{color:red;font-weight:700;float:left}
.productsList .prodItem p.price_prod span{margin-left:5px;float:none}
.prodShortInfo{position:absolute;left:-40px;top:260px;z-index:900;display:none;width:700px;height:235px;border:1px solid #bfbfbf;background-color:#FFF;overflow:hidden;padding:5px}
.productsList .prodShortInfo{top:150px}
.prodShortInfo .img{width:380px;float:left;margin-right:15px;border:1px solid #bfbfbf}
.prodShortInfo .pSLeft{width:300px;float:left}
.prodShortInfo .pSLeft .brand{text-align:left}
.prodShortInfo .photos{margin-top:4px}
.prodShortInfo .photos img{float:left;margin-right:12px}
.catSelect{margin:5px 0 11px}
.catSelect a.checkbox{display:block;padding-left:21px;background:url(../../../images/site/checkbox.gif) no-repeat 2px 1px;text-transform:none;color:#434343;font-size:12px;margin:4px 0}
a.checkbox.checked{background-position:2px -87px;text-decoration:underline;color:#000;font-weight:700}
.submenu p.h,.nav p.h{width:162px;font-size:15px;font-weight:700;color:#434343;padding-bottom:0;border-top:1px solid #bfbfbf;padding-top:10px}
.subscribeForm{margin-top:10px;font-size:12px}
.subscribeForm table{width:390px}
.subscribeForm table td{vertical-align:middle;color:#000;padding:7px 0 8px}
.subscribeForm table td div{width:258px;border:1px solid #797979;padding:1px}
.subscribeForm table td div input{width:246px;border:1px solid #c9c9c9;padding:2px 5px}
.subscribeForm .hr{width:100%;height:1px;background-color:#bfbfbf;margin:18px 0 20px}
.subscribeForm h4{color:#434343;font-size:15px;line-height:17px;font-weight:700;padding-bottom:5px}
.subscribeForm label{margin:3px 10px 3px 6px}
.subscribeForm label.other{float:left;margin-top:4px}
.subscribeForm label input{margin-right:10px}
.subscribeForm input.inp{margin-top:1px;border:1px solid #c9c9c9;padding:2px 3px}
.subscribeForm input.btn{border:0;background:#000;color:#FFF;font-size:12px;padding:5px 15px}
.productInfo h2{color:#000;font-size:15px;line-height:17px;font-weight:700;padding-bottom:15px}
.fullprodImgs{width:448px;float:left;margin-right:20px}
.fullProdDescr{width:297px;float:left}
.prod_flag_av{margin-top:-104px;margin-left:94px;background-color:#000;padding-left:5px;padding-right:5px;color:#FFF;font-size:14px}
.otherProdPhotos{margin-top:8px;width:447px}
.otherProdPhotos img{display:block;margin:8px 8px 10px 0}
.fullProdTabs a{display:block;float:left;border:1px solid #bfbfbf;margin-right:7px;font-size:12px;color:#434343;text-decoration:none;padding:5px 10px}
.fullProdTabs a.cur{background-color:#e5e5e5;border-color:#e5e5e5}
.catLinks a{text-decoration:none;display:block;margin-bottom:6px;background:url(../../../images/site/link_cat_arr.gif) no-repeat 0 6px;border-bottom:1px dotted #9b9b9b;font-weight:700;font-size:12px;color:#434343;padding:0 0 6px 15px}
.catLinks a.last{border:none}
.catLinks td{font-weight:700;font-size:12px;color:#434343}
/*.catLinks input.submit_button{background:url(../../../images/site/submit_button.png) no-repeat;margin-left:130px;width:90px;height:29px}*/
#otherProducts{margin-top:15px;padding-top:14px;background:url(../../../images/site/header_menu_btm_uzor.gif) no-repeat 50% 0;width:785px}
#otherProducts h5{text-transform:uppercase}
.block_404{width:486px;height:300px;position:absolute;top:50%;left:50%;margin:-150px 0 0 -243px}
.text_404{width:486px;height:170px;margin-bottom:7px;background:url(../../../images/site/transp_block_404_bg.png) no-repeat 0 0;color:#434343;font-size:13px;padding:40px 37px}
.num_404{width:67px;height:32px;margin-right:23px;background:url(../../../images/site/err_404.png) no-repeat 0 0}
.text_404 p{padding:8px 0}
.text_404 ul{margin-left:20px}
.text_404 a{color:#040404;text-decoration:underline}
.search_404{width:462px;height:46px;background:url(../../../images/site/search_block_404_bg.png) no-repeat 0 0;padding:8px 9px 0 15px}
.search_404 p{float:left;color:#FFF;line-height:26px;font-weight:700;font-size:12px}
.search_404 .search{position:relative;width:359px;height:26px;background:url(../../../images/site/icons_sprite.gif) no-repeat 0 -41px}
.search_404 .search input.inp{width:328px}
.block_auth{width:450px;height:220px;position:absolute;top:40%;left:50%;margin:-150px 0 0 -200px}
.text_auth{margin-bottom:7px;height:145px;background:url(../../../images/site/transp_block_auth_bg.png) no-repeat 0 0;color:#434343;font-size:13px;padding:40px 37px}
h2.auth{font-family:Antique Olive;font-weight:400;font-size:18px}
.auth table{margin-left:30px}
.auth td{padding:6px}
.auth_info{width:450px;height:42px;margin-top:15px;background:url(../../../images/site/auth_info_block.png) no-repeat 0 0;padding:10px 30px}
input.enter{float:left;border:0;background-color:#000;color:#fff;cursor:pointer;padding:3px 5px}
.salers_carousel{position:relative;margin-bottom:15px;border:1px solid #aaa;background-color:#e3e3e3;width:762px;padding:4px}
.salers_carousel img{background-color:#FFF;display:block;float:left}
.salers_carousel a.prev,.salers_carousel a.next{background:url(../../../images/site/carousel_arrows.png) no-repeat transparent;width:21px;height:51px;display:block;position:absolute;top:45%}
.salers_carousel .pagination{position:absolute;text-align:center;top:6px;right:11px}
.salers_carousel .pagination a{background:url(../../../images/site/carousel_dots.png) -8px 0 no-repeat transparent;width:8px;height:9px;display:inline-block;margin:0}
.salers_carousel .pagination a.selected{background-position:0 0;cursor:default}
.showroom_carousel{margin-bottom:18px}
.showroomImgsWrapper{position:relative;margin-bottom:5px;border:1px solid #aaa;background-color:#e3e3e3;width:950px;padding:4px}
.showroom_carousel a{position:relative;float:left;display:block;width:950px;height:438px}
.showroom_carousel a .zoom{position:absolute;width:65px;height:66px;background:url(../../../images/site/zoom_ico.png) no-repeat transparent;top:50%;left:50%;display:none;margin:-33px 0 0 -33px}
.showroom_carousel img{background-color:#FFF;display:block}
.showroom_carousel a.prev,.showroom_carousel a.next{background:url(../../../images/site/carousel_arrows.png) no-repeat transparent;width:21px;height:51px;display:block;position:absolute;top:198px}
#showroomThumbs img{float:left;display:block;border:1px solid #aaa;background-color:#e3e3e3;margin:0 5px 0 6px;padding:4px}
#showroomThumbs img.current{border:1px solid #000;background-color:#b5b5b5}
.jspContainer{overflow:hidden;position:relative}
.jspPane{position:absolute}
.jspVerticalBar{position:absolute;top:0;right:0;width:13px;height:100%}
.jspTrack{background:url(../../../images/site/scrollbar_bg.gif) repeat-y 0 0;position:relative}
.jspDrag{background:url(../../../images/site/scrollbar_bg.gif) repeat-y -13px 0;position:relative;top:0;left:0;cursor:pointer}
.jspCorner{background:#eeeef4;float:left;height:100%}
* html .jspCorner{margin:0 -3px 0 0}
#share_block{margin-top:10px;line-height:30px}
#registration{margin:30px 20px 70px 245px}
.bannerTop{width:960px}
@media screen and (min-width: 1240px){
.minWidthWrapper.wide .bannerRight{margin-top:30px;display:block;width:240px;float:right}
.minWidthWrapper .bannerRight{margin-top:140px;display:block;width:240px;float:right} }
.pre_footer{color:#434343;padding-bottom:10px;padding-top:10px;min-height:60px}
.contact_form{margin-top:20px}
#callme,.callme{background-color:#FFF}
.callme .h1{font-family:heliosthinregular;font-size:16px;margin-bottom:10px}
.callme input,.callme select,.callme textarea{width:300px;z-index:9999}
.callme textarea{height:100px}
.callme table{border-collapse:separate!important;border-spacing:5px!important}
.Center-Container{position:relative;background-color:#CCC}
.Absolute-Center{width:50%;height:50%;overflow:auto;position:absolute;top:0;left:0;bottom:0;right:0;margin:auto}
td,th,input,textarea,option,select{color:#000;font-weight:300;font:13px/15px Arial, Verdana, Helvetica, sans-serif}
*,.jspVerticalBar *{margin:0;padding:0}
* html .clearfix,*+html .clearfix{zoom:1}
.floatl,.otherProdPhotos a{float:left}
.floatr,.cattopnavbar .viewType{float:right}
a:hover,.sortBlock a:hover,.designPrj a.disItem,.text_404 a:hover{text-decoration:none}
.topHeader,.catElp .price_block{position:relative}
a.logo,span.logo{float:left;margin-right:47px}
.topPhones{
	float:left;
	margin-top:11px;
	width: 253px;
}
.topPhones .ph{float:left;width:255px;margin-right:8px;font-size:15px}
.topPhones .ph.first{line-height:19px}
.topPhones .ph.last,.rubEl.r_right,.disItem.last,.prodItem.last,.otherProdPhotos a.last img{margin-right:0}
.topPhones .ph span,.topPhones .ph a{font-size:12px;color:#8d8d8d}
.topPhones .ph.last span{color:#000}
#mainMenu td h5 a,#mainMenu td .h5 a,.copy a{color:#000;text-decoration:none}
#mainMenu ul,#mainMenu li,.f_lSide ul,.f_lSide li{list-style-type:none}
#mainMenu li a:hover,#mainMenu li a.active,.stButton:hover{background-color:#000;color:#FFF}
#mainMenu li a.mainMenu_videlit{color: #FF0000; font-weight: bold}
.rubEl a,.actionEl a:hover .brd,.catEl .b a img,.disItem .img img,.prodItem .img img,.productsList .prodItem .img img,.prodShortInfo .img img,.mainProdPhoto img,.showroom_carousel a:hover .zoom{display:block}
.newsEl .n_text a,.cattopnavbar p b{color:#434343}
.newsEl .n_text a:hover,.mainCont a,.disItem p a,.prodItem p a,.productsList .prodItem p a{color:#000}
.actionEl.last,.directions .rubEl.last{margin-left:1px;margin-right:0}
.actionEl.last{margin-right:-20px;}
.title.subdomain h1,.catalog_tabs a.bold,.letters a.bold,#no_prices_value{font-weight:700}
.submenu li.last,.catSelect.last{border-bottom:none}
.submenu li > a:hover,.submenu li.cur>a{background:none repeat scroll 0 0 #000;color:#FFF;font-weight:700;padding:3px}
.letters a:hover,.cmpEl .l a:hover,.sortBlock a,.designPrj a.disItem:hover,a.checkbox:hover{text-decoration:underline}
.sortBlock,.fullProdTabs{margin-bottom:9px}
.disItem .img,.prodItem .img{border:1px solid #bfbfbf}
.btnLinksRight a:hover,.fullProdTabs a:hover{border:1px solid #000}
.flag_av,.flag{position:absolute;top:6px;right:0;background-color:#000;padding-left:5px;padding-right:5px;color:#FFF;font-size:14px}
.price_prod,.prodItem p.price_prod{color:red;font-weight:700}
.price_prod.cancel,.prodItem p.price_prod.cancel{color:#000;font-weight:700;text-decoration:line-through}
.prodItem p,.productsList .prodItem p{font-size:12px;color:#434343;padding-bottom:3px}
.productsList .flag_av,.productsList .flag,.productsList .flag_sp{position:absolute;top:6px;right:598px}
.hide,.salers_carousel a.prev span,.salers_carousel a.next span,.salers_carousel .pagination a span,.showroom_carousel a.prev span,.showroom_carousel a.next span,.jspCap,.bannerRight{display:none}
body.er404,body.auth{min-height:600px;height:auto;background:url(../../../images/site/404_bg.jpg) no-repeat 50% 50%}
.salers_carousel a.prev,.showroom_carousel a.prev{left:21px;background-position:0 0}
.salers_carousel a.prev.disabled,.salers_carousel a.next.disabled,.showroom_carousel a.prev.disabled,.showroom_carousel a.next.disabled{cursor:default}
.salers_carousel a.next,.showroom_carousel a.next{right:21px;background-position:0 -51px}
.err,.callme span.necessarily{color:red}
.ip_descr p,.ip_descr a,.stButton:hover .chicklets{color:#FFF}
.minWidthWrapper,.minWidthWrapper.wide{transition:width 1s;-webkit-transition:width 1s;position:relative;width:1210px;margin:0 auto}
.minWidthWrapper.wide .minWidth,.minWidthWrapper .minWidth{float:left;margin:0}
.minWidthWrapper{position:relative; width:100%}
.bannerRight{display:none}
.bannerTop{width: 960px}
.minWidthWrapper.wide{transition: width 1s; -webkit-transition: width 1s; position:relative; width:1210px; margin:0 auto}
.minWidthWrapper.wide .bannerRight{margin-top:30px; display:block; width:240px; float:right }
.minWidthWrapper.wide .minWidth{float:left; margin:0 }
@media screen and (min-width: 1240px){.minWidthWrapper{transition: width 1s; -webkit-transition: width 1s; position:relative; width:1210px; margin:0 auto}
    .minWidthWrapper .bannerRight{margin-top:140px; display:block; width:240px; float:right }
    .minWidthWrapper .minWidth{float:left; margin:0 }
}
ul.nav li{list-style-type: none}
ul.nav{margin: 20px 0px 20px 20px}
ul.nav ul.nav,ul.nav ul.nav ul.nav{margin-top: 0px;margin-bottom: 0px;display: none}
ul.nav li.active>ul.nav,ul.nav li.parent>ul.nav,ul.nav ul.nav ul.nav li.active>ul.nav,ul.nav ul.nav ul.nav li.parent>ul.nav{display: block}
ul.nav li.active>a{font-weight: bold}
.lSide .nav a{text-decoration: none}
.lSide .nav a:hover{text-decoration: underline}
.nav .h{width:162px;font-weight:700;color:#434343;margin-left: -10px}
.nav li a{color:#434343}
.nav li.cur{background:none repeat scroll 0 0 #000;color:#FFF;font-weight:700;padding:3px 3px 3px 0;margin-left: -20px;text-transform: uppercase}
.nav .head{list-style-type:none;margin:0;padding:3px 3px 3px 0;margin-left: -20px;border-bottom:1px dotted #9b9b9b;margin-bottom:5px}
.nav .head a{text-decoration:none;color:#434343;text-transform:uppercase;cursor: pointer}
.nav .head:hover a,.nav .head:hover{background:#000;color:#fff;font-weight:700;text-decoration:none}
.lSide ul.nav{margin-bottom: 5px;margin-top: 5px}
.submenu ul,.submenu li{margin-top: 6px}
.submenu li{margin-bottom: 8px}
.hidden{display: block!important}
.vendor{cursor: pointer}
.b{font-weight: bold}
.none{display:none}
.fancybox-margin{margin-right: 17px !important}
.b-seotext{text-align: justify}
.b-seotext_bottom{clear: both;position: relative;top: 20px;text-align: justify}
.b-seotext  img, .b-seotext_bottom img{width: auto;max-width: 765px}
.fancybox-wrap{top:10px !important}
.fancybox-close{right:-12px !important;top:-12px !important}
.time_job{float: left;text-align: right;color: #666;font-size: 13px;margin-top: 9px;line-height: 18px;}
.uptolike-buttons {margin-top: -26px;margin-left: 821px; height: 26px;}
.vcard {display: none;}