.page {height:100%;}

.btnSave, .btnAdd {padding-left:15px;}

.popup {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/bg.png,sizingMethod=scale); background:url(../../../images/px.gif); /* margin: 0px -20px 0px 0px !important; padding: 0px !important */}
.popup .inp {width:97%;}