html,body {padding:0; margin:0; border:0 }
body {color:#000; font:11px Arial,Tahoma,Helvetica,sans-serif;}
table, table td { border-collapse:collapse; border:0; padding:0; margin:0 }

img {border:0}

h1 {font-size:16px; /* color: #19abd0 */}
h2 {font-size:16px; }

a { color: #0081dd }
a:hover { text-decoration:none; }
.greyline { height:6px; width:100%; background:url(../../../images/admin/gl.gif) repeat-x 0 0; }

#minWidth { width:expression((document.body.clientWidth<=980)?'980px':'auto'); voice-family: "\"}\""; voice-family:inherit; width:auto; }
html>body #minWidth {width:auto; min-width:980px;}


#header {position:relative; height:103px; width:100%}
#header table { width:100%; }
#header table td { vertical-align:top; }
#header .left_top { width:100%; height:7px; background:#b9d02b url(../../../images/admin/brw_corner.gif) no-repeat 100% 100% }
#header .logo {padding-top:31px; margin:0 8px; text-align: center; } 
#header .cenerheader { position:relative; height:83px; background: url(../../../images/admin/top_bg.gif) repeat-x 100% 0; margin-left:17px }
#header .cenerheader .rrheader { position:absolute; right:0; top:0}
.rightheader { height:83px; width:8px; margin-left:20px; background:#b9d02b url(../../../images/admin/blw_corner.gif) no-repeat 0 100%;}
.rightheader2 { width:30px; }

#center { clear:both }
#center table {width:100%; text-align:left;}
#center table td { vertical-align:top; margin-top: 0px;}

#lSide .mainMenuFrame { background-color:#e5e5e7;}
#lSide #mainMenu { background-color:#f3f3f5;} 


ul.lMenu, ul.lMenu li { padding:0; margin:0; list-style-type:none;}
ul.lMenu { margin-left:25px }
ul.lMenu li { background:url(../../../images/admin/menu_li_brd.gif) no-repeat 0 100%; }
ul.lMenu li li { background:url(../../../images/admin/menu_li_brd.gif) no-repeat 0 0; }
ul.lMenu li.last { background:none }
ul.lMenu li a, ul.lMenu li span { font: bold 12px Arial,Tahoma,Helvetica,sans-serif; height:auto; _height:12px; color:#000; padding:6px 0; padding-left:17px; display:block; text-decoration:none; background:url(../../../images/admin/menu_li.gif) no-repeat 0 9px;}
ul.lMenu li a:hover { color:#297ed8 }
ul.lMenu li.here span { color:#3a7587; }
ul.lMenu li.here a:hover {  }
ul.lMenu li ul, ul.lMenu li ul li { padding:0; margin:0; }
ul.lMenu li li a, ul.lMenu li li span { background: url(../../../images/admin/menu_li_arr.gif) no-repeat 93% 10px; font-weight: normal; margin-left: 8px }

ul.lMenu li.here li span { display:block; padding:6px 0 6px 17px; /* padding-left:26px; color:#3a7587; */}
/* ul.lMenu li.here ul li.here a, ul.lMenu li.here ul li.here span { display:block; padding:6px 0; padding-left:26px; color:#3a7587;} */

ul.lMenu li ul li.here a, ul.lMenu li li.here span { color:#3a7587; text-decoration:none;  font-weight:normal; /* padding-left: 20px; */}
ul.lMenu li.here ul li a:hover { color:#297ed8 }
.rasporka { width:218px; }

#search, #subscribe, #editContent, #editContent2, #extend { padding:10px 10px 10px 20px; font-size:11px }
#search span {display:block; float:left;}
input.inp { margin:0; padding:0; border:1px solid #3a7587; width:105px }
input.search_btn { margin:1px 0 0 7px; padding:0; height:16px; width:16px }
* html input.search_btn { margin-top:2px; }

#subscribe { font-size:11px }
#subscribe p { margin:0; padding:0 0 8px 0; font-weight:bold; }
#subscribe a { color:#000 }
#subscribe input.inp { width:97% }

.block{  margin:20px 0; background-color:#f3f3f5; border-top:1px solid #e5e5e7; border-bottom:1px solid #e5e5e7; border-right:1px solid #e5e5e7; border-left:5px solid #19accd }
.block .tr, .block .br { position:absolute; width:4px; height:4px; top:-1px; right:-1px; background:url(../../../images/admin/tr_corner.gif) no-repeat 0 0 }
.block .br { bottom:-1px; right:-1px; background: url(../../../images/admin/br_corner.gif) no-repeat 0 0 }

#mainContent { margin: -10px 0px 0px 20px; }
#mainContent .block { margin-top:0 }

#editContent .path { font-size:10px; }
#editContent .edit_tbl { width:100%; text-align:left; background:url(../../../images/admin/edit_tbl_bg.gif) repeat-y 0 0;}
#editContent .edit_tbl td { vertical-align:middle; padding:4px; margin:0; color:#3a7587; font-size:12px; border-bottom:1px solid #e6e6e8; }
#editContent .edit_tbl th { vertical-align:middle; padding:4px; margin:0; color:#3a7587; font-size:12px; border-bottom:1px solid #e6e6e8; background-color:#F3F3F5;}
*html #editContent .edit_tbl td { padding:5px; }
#editContent .edit_tbl td img { padding:1px 2px }
#editContent .edit_tbl tr.grey { background-color:#f3f3f5 }
#editContent .edit_tbl tr.grey td.black { color:#000 }
#editContent .edit_tbl td span { font-weight:bold; }
#editContent .edit_tbl td a { color:#000 }
#editContent .edit_tbl th a { color:#000; text-decoration: none; }
#editContent .edit_tbl th a:hover { color:#297ED8; }
#editContent .edit_tbl input {margin:0; padding:0}
#editContent .edit_tbl td.sort img { display:block; }
#editContent input.inp, #editContent2 input.inp  {  cursor: hand; border:1px solid #3a7587; background-color:#FFF; font-size:11px; padding:1px 10px 1px 23px; margin:0 5px; width:auto }
* html #editContent input.inp { padding:0 -5px; }
* html #editContent2 input.inp { padding:0 -5px; }
#editContent select.inp, #editContent2 select.inp {  border:1px solid #3a7587; background-color:#FFF; font-size:11px; padding:1px 0; margin:0 5px; }
#editContent .edit_tbl tr:hover { background-color:#FFFFFF;}


#editContent .res_editor input {width: 100%}

.tab_block { position:relative; z-index:9; top: 1px; margin-top:10px !important;  border-left:5px solid #19accd;}
/* .shiftTop_m30 { margin-top: 0px !important; } */
/* @-moz-document url-prefix() { div.shiftTop_m30 { margin-top:-30px !important; } } */
.tab_block ul { height:31px; }
.tab_block ul, .tab_block ul li { margin:0; padding:0; list-style-type:none }
.tab_block ul li, .tab_block ul li.here { cursor:hand; cursor:pointer; display: block; float:left; background-color:#fff; padding:7px 15px 8px 15px; border-top:1px solid #e5e5e7; border-right:1px solid #e5e5e7; }
.tab_block ul li.here { color:#3a7587; font-weight:bold; background-color:#f3f3f5; border-bottom:1px solid #f3f3f5;   }

#editContent2, #editContent  { font-size:12px; }
/* .shiftTop_30{ margin-top:30px !important; }
.shiftTop_40{ margin-top:40px !important; } */
#editContent2 fieldset, #editContent fieldset { margin-bottom:10px; border:1px solid #bcbdbf }
#editContent2 fieldset legend, #editContent fieldset legend { color:#3a7587; font-weight:bold }
#editContent2 table { width:80% }
#editContent2 input, #editContent2 textarea, #editContent2 select {width:98%; border:1px solid #3a7587; background-color:#FFF; font-size:11px; }
#editContent2 textarea { height:100px }
#editContent2 input.check { border:none !important; width:auto; background-color:transparent !important; }
#editContent2 select.inp { width:auto }
#editContent2 table td { vertical-align: top; /* width:25%; */ padding:5px 8px}
#editContent2 .tinyMCE table td { padding:0px !important; width: 0px}
.edit_action_btn { margin-top:20px; text-align:left} 

#extend { width:190px; margin:0 0 0 20px}
#extend ul.lMenu { margin:0 }
#extend ul.lMenu li { background:url(../../../images/admin/menu2_li_brd.gif) no-repeat 0 100%; }
#extend p {font-weight:bold; font-size:11px; color:#3a7587; padding:0; margin:12px 0 6px 0}
#extend select {  border:1px solid #3a7587; background-color:#FFF; font-size:11px; padding:1px 0; width:100% }

#footer .greenfooter { height:9px; width:8px; margin-left:20px; background:#b9d02b url(../../../images/admin/blw_corner.gif) no-repeat 0 100%; }
#footer .bluefooter { position:relative; height:9px; width:auto; margin-left:20px; background:#19abd0 url(../../../images/admin/blw_corner.gif) no-repeat 0 100%; }
#footer .bluefooter .right_end { float:right;margin-top:6px; width:3px; height:3px; background: url(../../../images/admin/brw_corner.gif) no-repeat 0 100%; }
#footer .left_top { width:100%; height:9px; background:#b9d02b url(../../../images/admin/brw_corner.gif) no-repeat 100% 100% }
#footer div.copy { margin:36px 0px 8px 0px; font-weight:bold }
#footer table { width:100%; border-collapse:collapse; border:0; padding:0; margin:0 }
#footer table td { vertical-align:top; text-align:center }
#footer a {color: #000; text-decoration:none }
#footer a:hover { text-decoration:underline }

/* date picker */ 
input#created {width: 78px; padding-left: 3px; display: block; float: left;}
input#reset {width: 30px; border: 0; height: 22px; background: #DCD5CA url(../../../images/resetbg.gif) 0 0 no-repeat; cursor: pointer; display:block;}


.add { width:130px !important; padding-left:23px !important; background: url(../../../images/admin/btn_add.gif) no-repeat -8px 60% }
.del { width:90px !important; padding-left:23px !important; background: url(../../../images/admin/btn_delete.gif) no-repeat -8px 60% }
.save { padding-left:23px !important; background: url(../../../images/admin/btn_save.gif) no-repeat -8px 60%; cursor: pointer; }
.send { padding-left:23px !important; background: url(../../../images/admin/go.gif) no-repeat 2px 60%; cursor: pointer; }
.dflt { padding-left:23px !important; background: url(../../../images/admin/pin.gif) no-repeat 2px 60%; cursor: pointer; }
.prev { padding-left:23px !important; background: url(../../../images/admin/search.gif) no-repeat 2px 60%; cursor: pointer; }
.undo { width:90px !important; padding-left:23px !important; background: url(../../../images/admin/btn_undo.gif) no-repeat -8px 60%; cursor: pointer;}

form {padding:0; margin:0}

.clear {width:100%; clear:both; float:none !important; height:1px !important; font-size:1px !important; border:none; margin:0 !important; padding:0 !important; background:transparent !important; visibility:hidden !important}
.err { color: red;}
.calend_filter {width: 30px !important;  border: 0; height: 20px; background: #DCD5CA url(../../../images/calendar.gif) 0 0 no-repeat; cursor: pointer;}


#editContent2 .fieldset {width: 99% !important}
#editContent2 .colLbl {width: 20% !important}
#editContent2 .colInp {width: 30% !important; padding-right: 3%}
#editContent2 .colLbl2 {width: 15% !important}
#editContent2 .colInp2 {width: 35% !important; padding-right: 3%}
#editContent2 .colInp3 {width: 84% !important; padding-right: 3%}

#editContent2 table td.im1 {width: 10% !important}
#editContent2 table td.im2 {width: 30% !important}
#editContent2 table td.im3 {width: 10% !important}
#editContent2 table td.im4 {width: 50% !important}
#img_tab textarea {height:80px !important;}

table.grid
{
    border: 1px solid #CCCCCC;
	vertical-align:top;
	font-size: 11px;
}

table.grid td, table.grid th
{
    padding: 3px;
    border: 1px solid #CCCCCC;
}

table.grid th
{
    background-color: #19ABD0;
	color: #FFFFFF;
} 
table.grid th a {	color: #FFFFFF;}
.tblEm input.htmlInput { width: 98%}
table.grid tr:hover {background-color: #F3F3F5;}
table.grid tr.grey {background-color: #EEEEEE;}

#editContent .edit_tbl td.dis {color: #aaa;}
#editContent .edit_tbl td.dis a {color: #aaa;}

#images_list {margin-top: 10px;}
#images_list td {border: 1px solid #CCCCCC;}
#images_list tr.tDnD_whileDrag {background-color: #CCCCCC;}

.inline_img {cursor: pointer;}

.ui-menu {border-radius: 0px !important;}
.ui-menu .ui-menu-item {border-radius: 0px !important;}
.ui-menu .ui-menu-item a {border-radius: 0px !important; color:#000; font:11px Arial,Tahoma,Helvetica,sans-serif !important;}