{assign var=parent value=$items.0.parent_id}
<div class="fullProdTabs clearfix">
	<a href="" id="a_descr" class="">{$smarty.const.S_DESCRIPTION}</a>
	<a href="" id="a_feat" class="cur">{$smarty.const.S_FEATURES}</a>
</div>
<div id="descr">{$items.0.content|content}</div>
<div id="feat">{$items.0.content2|content}<br />
{* hide for now

	{if $items.0.sprop3}<strong>{$smarty.const.S_MANUFACTURER}</strong> {$items.0.sprop3}<br />{/if}
	{if $items.0.sprop5}<strong>{$smarty.const.S_COUNTRY}</strong> {$items.0.sprop5}<br />{/if}
    {if $items.0.sprop13}<strong>{$smarty.const.S_COLLECTION}</strong> {$items.0.sprop13}{/if}
	
*}	
</div>