{assign var=parent value=$items.0.parent_id}


<h3 style="font-family: 'HelveticaBold';">Описание</h3>
<p>{$items.0.content|content}</p>
<h3 style="font-family: 'HelveticaBold';">Характеристики</h3>
<p>{$items.0.content2|content}<br/>

    {if $items.0.created}{$items.0.created|date_format:"%d.%m.%Y"}{/if}
    {* hide for now

        {if $items.0.sprop3}<strong>{$smarty.const.S_MANUFACTURER}</strong> {$items.0.sprop3}<br />{/if}
        {if $items.0.sprop5}<strong>{$smarty.const.S_COUNTRY}</strong> {$items.0.sprop5}<br />{/if}
        {if $items.0.sprop13}<strong>{$smarty.const.S_COLLECTION}</strong> {$items.0.sprop13}{/if}
    *}

</p>
<br>
