<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td>
	<div id="{$sJsDiv|default:'jsErr'}" style="color:red;">
		{foreach from=$aErrors item=sError}{$sError}<br>{/foreach}
			<span style="color:{if $bSessErr}red{else}green{/if};">
		{foreach from=$aSessErr item=sError}{$sError}<br>{/foreach}
	</span>
	</div>
</td>
</tr>
</table>
