{literal}
<script type="text/javascript">
  VK.init({apiId: 3675492, onlyWidgets: true});
</script>
{/literal}
<div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-action="recommend"></div>
<div id="vk_like" style="float: left"></div>
{literal}<script type="text/javascript">
VK.Widgets.Like("vk_like", {type: "button", verb: 1, height:20});
</script>{/literal}
<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
{literal}<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>{/literal}
