<div class="top_social floatl">
	{* <p>{$smarty.const.S_FOLLOW_US}</p> *}
	{if $items.0.sprop10}<a target = "_blank" href="{$items.0.sprop10|http}" class="ok"></a>{/if}
	{if $items.0.sprop9}<a target = "_blank" href="{$items.0.sprop9|http}" class="vk"></a>{/if}
	{if $items.0.sprop8}<a target = "_blank" href="{$items.0.sprop8|http}" class="f"></a>{/if}
	{if $items.0.sprop7}<a target = "_blank" href="{$items.0.sprop7|http}" class="t"></a>{/if}
</div>