{literal}
<script src="http://api-maps.yandex.ru/2.0/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
<script src="http://yandex.st/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">/*<![CDATA[*/ymaps.ready(init);function init(){var b=new ymaps.Map("map",{center:[55.809176,37.512955],zoom:15}),a=new ymaps.Placemark([55.809176,37.512955],{balloonContentBody:"<p>Салон-магазин «АНДЕГРАУНД»<br />Москва, Россия, ул. Балтийская, дом 9<br />+7 (495) 984 32 60 (многоканальный)</p>",});b.controls.add("zoomControl",{left:5,top:5}).add("typeSelector").add("smallZoomControl",{right:5,top:75}).add("mapTools",{left:35,top:5});b.geoObjects.add(a)};/*]]>*/</script>
{/literal}