<div class="banners_right">
{foreach from=$items.0.images item=i name=f}
	<a calass="banner" href="{$i.image_desc}"><img src="{$smarty.get.global.root}/upload/banners_resize/{$i.image_name}" width="240" height="530" border="0" alt=""></a>
{/foreach}
</div>