<script type="text/javascript">
images = [];
{foreach from=$items.0.images item=i}
images.push({ldelim}image: '{$smarty.get.global.root}/upload/slides/{$i.image_name}'{rdelim});
{/foreach}
</script>
<div class="social_icons">
	<a href="{$items.0.sprop2}" target="_blank" class="in"></a>
	<a href="{$items.0.sprop1}" target="_blank" class="t"></a>
</div>