﻿<!DOCTYPE html>
	<html lang=ru>
<head>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<meta name='yandex-verification' content='7b32d384b8cfab20' />
	<meta name="google-site-verification" content="onw-OkMtRWIUcgmGTkq5N9IvKeP56afSn6ULk-UhZPs" />
	<link href="http://www.under-style.ru/templates/css/site/main.css" type="text/css" rel="stylesheet" />
	<script src='/templates/js/jquery/jquery.js' type='text/javascript' async></script>
	{include_php file="master/files_aggregator.inc.php" type="css" rel_dir="/templates/css" output="/templates_c/css/site/monolit_[APP_VERSION].css" enable=false compress=$smarty.const.ENABLE_COMPRESSION files="/fancybox/jquery.fancybox.css, /fancybox/jquery.fancybox-thumbs.css, /site/jquery-ui.css, /jquery.prettyphoto.css, /lightbox.css, /jquery.thickbox.css, /jquery.ipicture.css"}  
	{include_php file="master/meta.inc.php"}
	<meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
	<!--[if lt IE 7.]> <script defer type=text/javascript async src={$smarty.get.global.root}/templates/js/site/pngfix.js></script> <![endif]--> <!--[if lte IE 8]> {literal}
	<script defer type=text/javascript>function resize(){if($(document).width()>1240){$('.minWidthWrapper').addClass("wide");
	}else{$('.minWidthWrapper').removeClass("wide");}}$(window).resize(function(){resize();}).resize();</script> {/literal} <![endif]-->
</head>
<body {if $smarty.get.path eq '404'}class="er404"{/if}>
	{if $smarty.get.path neq '404'}
		{literal}
			<div id=fb-root></div>
			<script>(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="//connect.facebook.net/ru_RU/all.js#xfbml=1";fjs.parentNode.insertBefore(js,fjs);}(document,'script','facebook-jssdk'));</script>
			<script type='text/javascript'>$(function(){function d(a){return a.split(/,\s*/);}function c(a){return d(a).pop();}$("#searchtext").focus(function(){$(this).attr("value","");});$("#searchtext").autocomplete({source:function(a,b){$.getJSON("{/literal}{$smarty.get.global.root}{literal}/pub/ajax_autocomplete.php",{term:c(a.term)},b);},minLength:2,select:function(b,a){}});$("#subscribe_button").click(function(){error=false;if($("#subscribe_name").val()==""){$("#subscribe_name").css("border","1px solid #FF0000");error=true;}else{$("#subscribe_name").css("border","1px solid #939393");}if($("#subscribe_email").val()==""){$("#subscribe_email").css("border","1px solid #FF0000");error=true;}else{$("#subscribe_email").css("border","1px solid #939393");}if(error==false){$.post("/ajax.php",{action:"subscribe",name:$("#subscribe_name").val(),email:$("#subscribe_email").val()},function(a){if(a.status=="fail"){$.fancybox(a.error);}else{$("#subscribe_name").val("");$("#subscribe_email").val("");$.fancybox.close();}},"json");}});$("#callme_button").click(function(){error=false;if($("#callme_name").val()==""){$("#callme_name").css("border","1px solid #FF0000");error=true;}else{$("#callme_name").css("border","1px solid #939393");}if($("#callme_phone").val()==""){$("#callme_phone").css("border","1px solid #FF0000");error=true;}else{$("#callme_phone").css("border","1px solid #939393");}if($("#callme_text").val()==""){$("#callme_text").css("border","1px solid #FF0000");error=true;}else{$("#callme_text").css("border","1px solid #939393");}if(error==false){$.post("/ajax.php",{action:"callme",name:$("#callme_name").val(),phone:$("#callme_phone").val(),time:$("#callme_time").val(),text:$("#callme_text").val()},function(a){if(a.status=="fail"){$.fancybox(a.error);}else{$("#callme_name").val("");$("#callme_phone").val("");$("#callme_time").val("08:00-09:00");$("#callme_text").val("");$.fancybox.close();alert("Сообщение успешно отправлено");yaCounter23717377.reachGoal('callme');return true;}},"json");}});$(".fancy").fancybox({afterClose:function(){$("#callme_name").val("");$("#callme_phone").val("");$("#callme_time").val("08:00-09:00");$("#callme_text").val("");}});});</script> {/literal} {assign var=is_home value=0}
		{if $smarty.get.global.struct.1.path eq 'index' || $smarty.get.global.struct.1.path eq $smarty.get.global.lan}{assign var=is_home value=1}{/if}
	<div class='minWidthWrapper'><div class='bannerRight'>{include_php file="content/imglister.inc.php" tpl_name = "master/banners.tpl" plevel = 0 cond = "as1.control='home'" page_size=99999999 disable_caching = true }</div><div class='minWidth'><div class=bannerTop> {include_php file="content/lister.inc.php" tpl_name = "block/check_banners.tpl" plevel = 0 cond = "as1.control='header_banners'" fields = "as1.is_hidden" }</div><div id=header><div class="topHeader clearfix"> {if !$is_home} <a href={$smarty.get.global.root}/ class=logo><img src="{$smarty.get.global.root}/images/site/logo.gif?v=2" width=280 height=63 alt /></a> {else} <span class=logo><img src="{$smarty.get.global.root}/images/site/logo.gif?v=2" width=280 height=63 alt /></span>{/if}
	<div class='navIcons'><a href='{$smarty.get.global.root}/' class="home"{if $is_home} onclick="return false"{/if}></a><a href='{$smarty.get.global.root}/sitemap/' class="sitemap"{if $smarty.get.path eq 'sitemap'} style=cursor:default onclick="return false"{/if}></a><a href='mailto:{$smarty.const.INFO_MAIL}' class='mail'></a></div><div class='topPhones'><div class='ph'><p><nobr><font class="font_weight_bold ya-phone">{$smarty.const.S_PHONE_CODE_1} {$smarty.const.S_PHONE_2}</font>&nbsp;<span>{$smarty.const.S_PHONE_ADD_2}</span></nobr></p><p><a href=#callme class=fancy onClick="yaCounter23717377.reachGoal('ENTERFORM');_gaq.push(['_trackEvent','Обратный звонок','ENTERFORM'])">{$smarty.const.S_CALL_MANAGER}</a></p></div>
	{*<div class="ph last"><p><font class="font_weight_bold ya-phone">{$smarty.const.S_PHONE_CODE_2} {$smarty.const.S_PHONE_3}</font>&nbsp;<span>{$smarty.const.S_PHONE_ADD_3}</span></p><p><font class="font_weight_bold ya-phone">{$smarty.const.S_PHONE_CODE_2} {$smarty.const.S_PHONE_4}</font>&nbsp;<span>{$smarty.const.S_PHONE_ADD_4}</span></p></div>*}
	</div></div><div id='mainMenu'> {include_php file = "content/treelister.inc.php" tpl_name = "master/menu_main.tpl" plevel=0 cond = "(as1.level IN (1, 2)) AND (as1.control IN ('fldr', 'actions', 'article', 'contacts', 'completed_projects', 'sale', 'designer_project', 'wholesale_buyers', 'subscription', 'company_list', 'catalogs') AND as1.is_hidden = 0)" }</div></div><div class="sub_header clearfix"> {include_php file="content/lister.inc.php" tpl_name="block/social_nets.tpl" plevel=0 cond="as1.control='home'"}<div class="search floatr"><form method=get action={$smarty.get.global.root}/search/>
	
	<div class='ui-widget'>
		<input type='text' name='query' id='searchtext' value='{$smarty.get.query|default:$smarty.const.S_SEARCH}' title='{$smarty.const.S_SEARCH}' class="inp labler" />
	</div>
	<input type=submit value class=btn />
	</form></div><div class="btnLinksRight clearfix"><a href='{$smarty.get.global.root}/viewed/'>{$smarty.const.S_VIEWED_PRODUCTS}</a><a href={$smarty.get.global.root}/saved_items/>{$smarty.const.S_FAVORITES}</a></div></div> {/if} {include file="master/content.tpl"} {if $smarty.get.path neq '404'}
	<div id='footer' class='clearfix'> 
	{include_php file="content/lister.inc.php" tpl_name="master/footer_catalog.tpl" plevel=0 cond="as1.control='subdomen'" fields="a1.path, a1.name" }
	<div class=f_rSide><span class="f_rSide_s_contacts">{$smarty.const.S_CONTACTS}</span><div class="f_contacts floatl"> {include_php file="content/lister.inc.php" tpl_name="master/footer_contact.tpl" plevel=0 cond="as1.control='contacts'" fields="a1.content2" }</div></div><div class=clear></div><div class="copy clearfix"> {include file = "content/yandex.tpl"}<p class=floatl>{$smarty.const.S_COPYWRITING}<br />Все&nbsp;права&nbsp;защищены&nbsp;&nbsp;&nbsp;&nbsp;</p> {include_php file="content/lister.inc.php" tpl_name="block/social_nets.tpl" plevel=0 cond="as1.control='home'"}</div></div> {include file="master/counter.tpl"}</div> {/if}</div><div id=callme style=display:none><table border=0 cellpadding=3 cellspacing=3><tr><td>Имя:</td><td width=10>&nbsp;</td><td><input type=text id=callme_name style=width:300px /></td></tr><tr><td>Телефон:</td><td width=10>&nbsp;</td><td><input type=text id=callme_phone style=width:300px /></td></tr><tr><td>Время звонка:</td><td width=10>&nbsp;</td><td> <select id=callme_time style=width:300px><option value=10:00-11:00>10:00-11:00</option><option value=11:00-12:00>11:00-12:00</option><option value=12:00-13:00>12:00-13:00</option><option value=13:00-14:00>13:00-14:00</option><option value=14:00-15:00>14:00-15:00</option><option value=15:00-16:00>15:00-16:00</option><option value=16:00-17:00>16:00-17:00</option><option value=17:00-18:00>17:00-18:00</option><option value=18:00-19:00>18:00-19:00</option><option value=19:00-20:00>19:00-20:00</option></select></td></tr><tr><td>Сообщение:</td><td width=10>&nbsp;</td><td><textarea id=callme_text style=width:300px;height:200px></textarea></td></tr><tr><td colspan=3 align=right><input type=button value=Отправить onClick="yaCounter23717377.reachGoal('SENDBUTTON');_gaq.push(['_trackEvent','Обратный звонок','SENDBUTTON'])" id="callme_button"/></td></tr></table></div>
	
	{if $smarty.get.global.struct.1.control eq 'prod'} 
		{include_php file="master/files_aggregator.inc.php" type="js" rel_dir="/templates/js" output="/templates_c/js/site/monolit_[APP_VERSION].js" enable=false compress=$smarty.const.ENABLE_COMPRESSION files="/jquery/jquery-ui.js, /site/jquery.mCustomScrollbar.concat.min.js,/site/jquery.carouFredSel-6.2.0-packed.js,/fancybox/jquery.mousewheel-3.0.6.pack.js,/fancybox/jquery.fancybox.pack.js,/fancybox/helpers/jquery.fancybox-thumbs.js,/site/jquery.jscrollpane.min.js,/site/main.js, /site/favorite.js, /jquery/jquery.prettyphoto.js"} 
	{else}
		{include_php file="master/files_aggregator.inc.php" type="js" rel_dir="/templates/js" output="/templates_c/js/site/monolit_[APP_VERSION].js" enable=false compress=$smarty.const.ENABLE_COMPRESSION files="/jquery/jquery-ui.js, /site/jquery.mCustomScrollbar.concat.min.js,/site/jquery.carouFredSel-6.2.0-packed.js,/fancybox/jquery.mousewheel-3.0.6.pack.js,/fancybox/jquery.fancybox.pack.js,/fancybox/helpers/jquery.fancybox-thumbs.js,/site/jquery.jscrollpane.min.js,/site/main.js, /site/favorite.js, /jquery/jquery.prettyphoto.js,/jquery/jquery.ipicture.min.js"}
	{/if}
	<script async type=text/javascript>
		root = '{$smarty.get.global.root}';
		var msg_sent = '{$smarty.const.LBL_SENT_SUCCESS}';
		{if $smarty.get.global.struct.1.control eq 'saved_items'}
			var no_prods = '{$smarty.const.S_NO_BOOKMARKS}';
		{elseif $smarty.get.global.struct.1.control eq 'viewed'}
			var no_prods = '{$smarty.const.S_NO_VIEWED}';
		{elseif $smarty.get.global.struct.1.control eq 'subdomen'}
			var no_prods = '{$smarty.const.S_NO_PRODS}';
		{else}
			var no_prods = '';
		{/if}
	</script>
	<script type=text/javascript src=//vk.com/js/api/openapi.js?95></script>
	
	
	{literal}
	<!--Openstat-->
	<span id="openstat2365193"></span>
	<script type="text/javascript">
	var openstat = { counter: 2365193, next: openstat, track_links: "all" };
	(function(d, t, p) {
	var j = d.createElement(t); j.async = true; j.type = "text/javascript";
	j.src = ("https:" == p ? "https:" : "http:") + "//openstat.net/cnt.js";
	var s = d.getElementsByTagName(t)[0]; s.parentNode.insertBefore(j, s);
	})(document, "script", document.location.protocol);
	</script>
	<!--/Openstat-->
	{/literal}
	
</body></html>