{foreach from=$items item=i name=t}{/foreach}
{assign var = "random_index" value = 1|rand:$smarty.foreach.t.total}
{$smarty.foreach.f.total}
{foreach from=$items item=i name=f}
{if $smarty.foreach.f.iteration eq $random_index}
{if !$i.sprop7}
<a href="{$i.sprop1|http}">
<img src="{$smarty.get.global.root}/upload/header_banners/{$i.img1}" width="960" border="0" alt="{$i.name}">
</a>
{else}
<object width="960" height="80">
<param name="movie" value="{$smarty.get.global.root}/upload/header_banners/{$i.img1}">
<embed src="{$smarty.get.global.root}/upload/header_banners/{$i.img1}" width="960" height="80">
</embed>
</object>
{/if}
{/if}
{/foreach}