<table>
<tr>
{foreach from = $items item=i name=f}
<td>
<h5><a href="{$smarty.get.global.root|subdomain:$i.path}/{$i.path}/">{$i.name}11</a></h5>
<ul>
{if $i.spath eq 'actueel'}
{include_php
file="content/lister.inc.php"
tpl_name = "master/menu_main_item.tpl"
plevel = 0
cond = "as1.control='subdomen'"
}
{else}
{if $i.control eq 'fldr' && $smarty.foreach.f.iteration eq 1}
{include_php file="content/lister.inc.php"
tpl_name = "master/menu_main_item.tpl"
plevel=0
cond="as1.control='news'"}
{/if}
{foreach from = $i.items item=i2 name=n}
<li {if $i2.path eq $smarty.get.global.struct.1.path} class="current"{/if}>
{if $i2.path neq $smarty.get.global.struct.1.path}
<a href="{$smarty.get.global.root|subdomain:$i2.path}/{$i2.path}/" {if $i2.path eq "about/sale"}style="color: #FF0000; font-weight: bold"{/if}>
{else}
<span class="current">
{/if}
{$i2.name}
{if $i2.path neq $smarty.get.global.struct.1.path}
</a>
{else}
</span>
{/if}
</li>
{/foreach}
{/if}
</ul>
</td>
{/foreach}
</tr>
</table>