{foreach from=$items item=i name=f}
    {if $smarty.foreach.f.iteration < 5}
        <li>
            {if  $i.path neq $smarty.get.global.struct.1.path}
            {*<a href="{$smarty.get.global.root|subdomain:$i.path}/{$i.path}/?gate=1">*}
            <a href="{$smarty.get.global.root|subdomain:$i.path}/{$i.path}/">
                {else}
                <span class="current">{/if}{$i.name}{if  $i.path neq $smarty.get.global.struct.1.path}</a>{else}</span>
            {/if}
        </li>
    {/if}
{/foreach}