<div class="path">
	{foreach item="item" name="item" from=$items}
		<a href="{$smarty.const.SITE_REL}/admin/index.php?bid={$item.id}">{$item.name}</a> /&nbsp; 
	{/foreach}
	
	{if $smarty.request.parent_id eq ''}
		<strong>{$title.name}</strong>
	{else}
		<a href="{$smarty.const.SITE_REL}/admin/index.php?bid={$item.id}">{$title.name}</a> /&nbsp; <strong>{$smarty.const.S_NEW_ARTICLE}</strong>
	{/if}
</div>