{foreach from=$langs item=i key=k name=langs}
<div id="tab-local_content_{$k}" class="contentBlock">

<fieldset>
<legend><label for="description">{$smarty.const.S_DESCRIPTION}&nbsp;</label></legend>
    <div style="margin: 5px">{$form_data.$k.description.html}</div>
</fieldset>

</div>		
{/foreach}