/* font-family: "RobotoSlabRegular"; */
@font-face {
    font-family: "RobotoSlabRegular";
    src: url("../fonts/RobotoSlab/RobotoSlabRegular/RobotoSlabRegular.eot");
    src: url("../fonts/RobotoSlab/RobotoSlabRegular/RobotoSlabRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoSlab/RobotoSlabRegular/RobotoSlabRegular.woff") format("woff"),
    url("../fonts/RobotoSlab/RobotoSlabRegular/RobotoSlabRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoSlabLight"; */
@font-face {
    font-family: "RobotoSlabLight";
    src: url("../fonts/RobotoSlab/RobotoSlabLight/RobotoSlabLight.eot");
    src: url("../fonts/RobotoSlab/RobotoSlabLight/RobotoSlabLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoSlab/RobotoSlabLight/RobotoSlabLight.woff") format("woff"),
    url("../fonts/RobotoSlab/RobotoSlabLight/RobotoSlabLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoSlabBold"; */
@font-face {
    font-family: "RobotoSlabBold";
    src: url("../fonts/RobotoSlab/RobotoSlabBold/RobotoSlabBold.eot");
    src: url("../fonts/RobotoSlab/RobotoSlabBold/RobotoSlabBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoSlab/RobotoSlabBold/RobotoSlabBold.woff") format("woff"),
    url("../fonts/RobotoSlab/RobotoSlabBold/RobotoSlabBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoSlabThin"; */
@font-face {
    font-family: "RobotoSlabThin";
    /*src: url("../fonts/RobotoSlab/RobotoSlabThin/RobotoSlabBold.eot");*/
    /*src: url("../fonts/RobotoSlab/RobotoSlabThin/RobotoSlabBold.eot?#iefix")format("embedded-opentype"),*/
    /*url("../fonts/RobotoSlab/RobotoSlabThin/RobotoSlabBold.woff") format("woff"),*/
    src: url("../fonts/RobotoSlab/RobotoSlabThin/RobotoSlabThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
