*,
.btn,
.label,
.form-control,
.breadcrumb {
    border-radius: 0;
}

body {
    font-family: 'HelveticaRegular';
    font-size: 16px;
}

/*@media (max-width: 1024px) {*/
    /*body {*/
        /*font-size: 14px;*/
    /*}*/
/*}*/

hr {
    width: 270px;
    margin: 0;
    padding: 0;
}

a {
    color: #0096ff;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

h1, h2 {
    font-family: 'HelveticaThin';
    font-size: 44px;
    /*font-weigth: normal !important;*/
}

header {
    margin-bottom: 35px;
}

address {
    font-family: "HelveticaRegular";
    white-space: nowrap;
}

b, strong {
    font-weight: normal;
    font-family: 'HelveticaBold';
}

/*---------------------------------------------------------------------------------------*/

.well a {
    color: #021d1e;
}

.link,
.well .link {
    color: #0096ff;
    text-decoration: underline;
}

.link:hover {
    text-decoration: none;
}

a.btn {
    font-size: 16px;
    font-family: 'HelveticaThin';
    text-decoration: none;

}

.border-light {
    border-color: #fff;
}

.border-dark {
    border-color: #000;
}

.btn-default {
    border: none;
}

.btn-primary {
    background-color: #0168b1;
}

.box-shadow {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}

/*---------------------------------------------------------------------------------------*/
/*.jq-selectbox__select {*/
/*border: none;*/
/*}*/

.form-control {
    margin-bottom: 15px !important;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 20px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #000;
    resize: none;
    box-shadow: none;
    font-family: 'HelveticaThinItalic';
    font-size: 16px;
}

select.form-control {
    max-width: 200px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: none;
}

.form-control:focus {
    border-bottom: 1px solid #66afe9;
    box-shadow: none;
}

    /*select.form-control,*/
/*input.form-control {*/
/*margin-bottom: 15px !important;*/
/*padding-left: 0;*/
/*padding-bottom: 0;*/
/*width: 100%;*/
/*border: 0;*/
/*border-bottom: 1px solid #000;*/
/*resize: none;*/
/*box-shadow: none;*/
/*font-family: 'HelveticaThinItalic';*/
/*font-size: 16px;*/
/*}*/

/*select.form-control {*/
/*padding-right: 25px;*/
/*width: 200px !important;*/
/*-moz-appearance: none;*/
/*-webkit-appearance: none;*/
/*appearance: none;*/
/*background: none;*/
/*}*/

.jqselect {
    cursor: pointer;
}

.jq-selectbox {
    background: none !important;
}

.jq-selectbox__select {
    height: 100%;
    padding-right: 25px;
    /*width: 200px !important;*/
    width: 150px !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: none;
}

.jq-selectbox__select-text {
    white-space: nowrap;
}

.jq-selectbox__dropdown {
    border: 1px solid #000;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.jq-selectbox__dropdown ul {
    padding-left: 0;
}

.jq-selectbox__dropdown li {
    padding-left: 5px;
    cursor: pointer;
}

.jq-selectbox__dropdown .selected.sel,
.jq-selectbox__dropdown li:hover
{
    background-color: #eee;
}

select.form-control option {
    font-family: 'Helvetica';
    font-style: italic;
}

select.form-control:focus,
input.form-control:focus {
    box-shadow: none;
}

.form-group {
    width: 170px;
    margin-right: 20px;
}

.input-group {
    width: 100%;
}

.input-group-btn {
    width: auto;
    position: absolute;
    right: 0;
    z-index: 10;
}

.input-group-btn .btn {
    border: none;
    background: transparent;
}

.input-group-btn .btn:focus {
    box-shadow: none;
    outline: 0;
    background: none;
}

.form-group {
    position: relative;
}

.form-group i {
    position: absolute;
    z-index: -1;
    top: 12px;
    right: 6px;
    font-size: 12px;
    cursor: pointer;
    /*vertical-align: super;*/
    /*margin-left: -20px;*/
}



/* ==============================
   Page loader
   ============================== */


.page-loader{
    display:block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fefefe;
    z-index: 100000;
}

.loader{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    font-size: 10px;
    text-indent: -12345px;
    border-top: 1px solid rgba(0,0,0, 0.08);
    border-right: 1px solid rgba(0,0,0, 0.08);
    border-bottom: 1px solid rgba(0,0,0, 0.08);
    border-left: 1px solid rgba(0,0,0, 0.5);

    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;

    -webkit-animation: spinner 700ms infinite linear;
    -moz-animation: spinner 700ms infinite linear;
    -ms-animation: spinner 700ms infinite linear;
    -o-animation: spinner 700ms infinite linear;
    animation: spinner 700ms infinite linear;

    z-index: 100001;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*.text-primary {*/
/*color: #0096ff;*/
/*}*/
/*---------------------------------------------------------------------------------------*/

#header {
    margin-top: 20px;
    margin-bottom: 40px;
}

#header .navbar-brand {
    padding-left: 0;
    padding: 0;
    width: 260px;
    height: auto;
    /*text-align: center;*/
    color: #000;
    text-decoration: none;
     line-height: normal;
}

#header .navbar-brand span:first-child {
    font-family: 'RobotoSlabRegular';
    font-size: 40px;
    letter-spacing: -1px;
}

#header .navbar-brand span:last-child {
    font-family: 'RobotoSlabThin';
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 1px;
}

#header .nav {
    padding-top: 10px;
}

#header .navbar-nav {
    padding-left: 100px;
}

#header .navbar-text {
    /*margin-top: 12px;*/
    font-size: 20px;
}

#header .btn {
    /*font-size: 16px;*/
}

#header address {
    /*padding-top: 25px;*/
    padding-right: 75px;
    /*font-size: 16px;*/
}

@media (max-width: 1200px) {
    #header .navbar-nav {
        padding-left: 35px;
    }
}

/*@media (max-width: 992px) {*/
    /*#header address {*/
        /*padding-right: 0;*/
    /*}*/
/*}*/

@media (max-width: 992px) {
    #header .navbar-nav {
        /*padding-top: 10px;*/
    }

    #header .navbar-nav .navbar-text {
        float: none;
        margin: 0;
    }

    #header address {
        padding-right: 0;
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    #header .navbar-brand {
        width: auto;
        text-align: center;
    }

    #header .nav {
        padding-left: 0;
        text-align: center;
    }
}

/*---------------------------------------------------------------------------------------*/

#menu-top {
    padding-bottom: 20px;
    margin-bottom: 80px;
}

#menu-top .navbar-inverse {
    background-color: #212121;
}

#menu-top .navbar-brand {
    height: auto;
}

/*#menu-top .navbar-collapse {*/
    /*position: relative;*/
/*}*/

#menu-top:before {
    content: '';
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    border-bottom: 3px solid #fff;
}

#menu-top a {
    text-decoration: none;
}

#menu-top .dropdown {
    margin: 0 15px;
}

#menu-top .dropdown > a {
    /*padding-bottom: 10px;*/
    text-transform: uppercase;
    /*font-size: 16px;*/
    color: #fff;
    white-space: nowrap;
    letter-spacing: 0.35px;
}

@media (min-width: 768px) {
    #menu-top .dropdown > a {
        padding-bottom: 10px;
    }
}

#menu-top .dropdown.open > a {
    background: none;
    font-family: 'HelveticaBold';
    letter-spacing: 0;
}

#menu-top .dropdown-menu {
    min-width: 50px;
}

#menu-top .dropdown-menu a {
    white-space: normal;
}

#menu-top .dropdown-menu span.current {
    display: inline-block;
    padding: 3px 20px;
    font-family: 'HelveticaBold';
}

#menu-top .nav>li>a {
    padding: 12px 0;
}

@media (max-width: 1024px) {
    #menu-top .dropdown > a {
       font-size: 14px;
        padding: 12px;
    }
}

#main-menu .nav.navbar-nav {
    padding-top: 35px;
}

/*---------------------------------------------------------------------------------------*/

#promo{
    margin-bottom: 65px;
    background-color: #fbf9f8;
}

@media (max-width: 768px) {
    #promo{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #promo .carousel-indicators{
        margin-left: -30%;
        top: 55% !important;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    #promo .item img {
        max-width: 100%;
        min-width: 100%;
        float: right;
    }

    #promo .item div {
        text-align: center;
        font-family: 'PTSansRegular';
        color: #000000;
        font-size: 16px;
    }

    #promo .item div img {
        max-width: 270px;
        min-width: 270px;
        max-height: 130px;
        min-height: 130px;
    }
    #promo .carousel-indicators{
        margin-left: -30%;
        top: 72%;
    }
}
@media (min-width: 1200px) {
    #promo .item img {
        max-width: 870px;
        min-width: 870px;
        max-height: 360px;
        min-height: 360px;
        float: right;
    }

    #promo .item div {
        text-align: center;
        font-family: 'PTSansRegular';
        color: #000000;
        font-size: 16px;
    }

    #promo .item div img {
        max-width: 270px;
        min-width: 270px;
        max-height: 130px;
        min-height: 130px;
        margin-bottom: 45px;
    }
    #promo .carousel-indicators{
        margin-left: -17%;
        bottom: 0px;
    }
}

#promo .item div a {
    font-family: "HelveticaThin";
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 45px;
}

#promo .carousel-indicators li {
    display: inline-block;
    background-color:  rgba(255, 255, 255, 0.5);
    text-indent: -999px;
    margin-left: 6px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 13px;
    height: 13px;
    border: none;
    border-radius: 10px !important;
}

#promo .carousel-indicators .active {
    background-color: #ffffff;
}

/*---------------------------------------------------------------------------------------*/

#panel-taxonomy-1 {
    margin-bottom: 60px;
}

@media (min-width: 992px) {
    /*#filters {*/
        /*padding-right: 130px;*/
    /*}*/
}

#search-navigation {
    background: none;
    border: none;
    box-shadow: none;
}

/*---------------------------------------------------------------------------------------*/

#menu-middle #categories {
    margin-top: 0;
}

#filters select option {
    color: #000;
}

#categories {
    padding-left: 0;
    margin-top: 70px;
}

#categories a {
    font-family: 'PTSansRegular';
    color: #021d1e;
}

#categories .col-md-3 {
    text-align: center;
}

@media (min-width: 992px) {
    /*#categories .col-md-3:first-child {*/
    /*margin-left: -40px;*/
    /*}*/
    /*#categories {*/
        /*padding-right: 100px;*/
    /*}*/
}

#categories .thumbnail {
    border: none;
}

#categories .thumbnail img {
    cursor: pointer;
}

#categories .thumbnail a:hover {
    text-decoration: underline;
}

#categories .thumbnail .caption {
    display: inline-block;
    padding-top: 20px;
    padding-left: 25px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

#categories .thumbnail:hover a {
    text-decoration: underline;
}


/*---------------------------------------------------------------------------------------*/

#menu-middle {
    margin-bottom: 70px;
}

#news.well {
    margin-bottom: 0;
    border: none;
    box-shadow: none;
    font-family: 'PTSansRegular';
    color: #021d1e;
    background-color: #f9f8f8;
}

#news.well h4 {
    color: #021d1e;
    font-family: 'PTSansRegular';
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

#news.well li {
    margin-bottom: 15px;
    line-height: 20px;
}

#news.well a em {
    font-family: 'PTSansItalic';
    font-style: normal;
}

/*---------------------------------------------------------------------------------------*/

#stock {
    /*margin-bottom: 60px;*/
}

#stock .thumbnail {
    position: relative;
    border: none;
    padding: none;
    max-width: 300px;
}

#stock .thumbnail p {
    font-family: 'HelveticaThin';
}

.thumbnail a {
    color: #000;
}

.action-time {
    position: absolute;
    top: 10px;
    right: -5px;
    padding-bottom: 13px;
    padding-left: 11px;
    padding-top: 15px;
    padding-right: 14px;
    background-color:  #ed0103;
    color:  #ffffff;
}
.action-time p{
    font-family: "HelveticaRegular" !important;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.action-time .header{
    font-family: "HelveticaRegular";
    font-size: 24px;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
    padding: 0;
}
.action-time::after{
    position: absolute;
    right: -5px;
    bottom: -5px;
    content: " ";
    border: 5px solid transparent;
    border-left: 10px solid #5b5b5b;
    border-top: 0px solid #5b5b5b;
}
/*---------------------------------------------------------------------------------------*/

.content img {
    max-width: 100%;
}

.content h2 {
    margin-top: 0;
}

.post-rows {
    line-height: 24px;
    margin-bottom: 60px;
}

.post-rows header {
    margin-bottom: 45px;
}

.post-rows h3 {
    font-family: 'HelveticaThin';
    font-size: 44px;
}

.post-rows ul {
    /*list-style-type: square;*/
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

/*li { display:inline-block; }*/
.post-rows li::before {
    content:"\25aa";
    margin-right: 10px;
    color: #0096ff;
}

.post-img-fix img {
    width: 100%;
}

.post-text-fix {
    /*margin-top: 50px;*/
}

.post-text-fix span,
.post-text-fix p,
.post-text-fix strong
{
    font-size: 16px !important;
    font-weight: normal !important;
    font-family: "HelveticaRegular" !important;
}

.post-text-fix h2 strong {
    font-family: 'HelveticaThin' !important;
    font-size: 44px !important;
}

.list.nav>li>a {
    display: inline;
}

.list.nav>li>a:hover {
    background: none;
}

.mainCont {
    margin-bottom: 50px;
}

.caroufredsel_wrapper {
    margin-bottom: 50px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

/*.showroomImgsWrapper img {*/
    /*width: 100%;*/
/*}*/

.salers_carousel {
    margin-bottom: 50px;
}

.mb50 {
    margin-bottom: 50px;
}

#products {
    margin-bottom: 50px;
}

#products .caption p {
    margin: 0;
    font-size: 14px;
}

#products h3 {
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
    margin-bottom: 20px;
}

#products .item-image {
    padding-top: 20px;
}

.thumbnail {
    border: none;
    position: relative;
}

#products .thumbnail .label {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: normal;
    font-family: 'HelveticaBold';
    padding: .3em .6em .3em;
    font-size: 100%;
}

.showroom_carousel {
    position: relative;
}

#showroom_prev,
#showroom_next
{
    display: block;
    width: 80px;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(225, 225, 225, 0.4);
    text-decoration: none;
    font-family: 'HelveticaThin';
    font-size: 50px;
    text-align: center;
    /*color: #000;*/
}

#showroom_prev i,
#showroom_next i {
    position: relative;
    top: 40%;
}

#showroom_next {
    right: 0;
}

/*#salers img {*/
    /*width: 100%;*/
/*}*/

.list-group-item {
    text-decoration: none;
    /*font-family: 'HelveticaThin';*/
    font-family: 'PTSansRegular';
}

#groups {
    margin: 40px 0;
}

#groups article a {
    display: table;
    color: #000;
    width: 100%;
    text-align: center;
    min-height: 65px;
    line-height: 65px;
    background-color: #E8E8E8;
    padding: 0 15px;
    text-decoration: none;
    font-family: 'PTSansRegular';
    text-transform: uppercase;
}

#groups article a:hover {
    background-color: #0168b1;
    color: #fff;
}

#groups article a span {
    display: table-cell;
    vertical-align: middle;
    line-height: 1;
}

/*#products .caption {*/
    /*height: 250px;*/
    /*overflow: hidden;*/
/*}*/

/*.dl-horizontal dt {*/
    /*text-align: left;*/
/*}*/

/*---------------------------------------------------------------------------------------*/

#gallery {
    margin-bottom: 70px;
}

/*---------------------------------------------------------------------------------------*/

#footer {
    padding-top: 45px;
    padding-bottom: 40px;
    font-family: "HelveticaThin";
    background-color: #242424;
    color:  #ffffff;
    line-height: 24px;
    overflow: hidden;
}
#footer h2 {
    margin-top: 30px;
    white-space: nowrap;
}
#footer .catalog{
    margin-top: 45px;
}
#footer p {
    font-family: "HelveticaRegular";
    margin-top: 45px;
    font-size: 16px;
    font-weight: 400;
}
#footer h4 {
    font-size: 16px;
    text-transform: uppercase;
    /*margin-top: 50px;*/
    margin-bottom: 25px;
}
#footer ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
#footer a {
    color:  #ffffff;
}
#footer address {
    margin-bottom: 65px;
}

@media (max-width: 768px) {
    #footer ul {
        margin-bottom: 25px;
    }
}

#copyright {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*.thumbnail-border{
    height: 135px;
    width: 135px;
    border-radius: 50%;
    background-color: black;
    margin: auto;
}*/

/*.thumbnail-border
{
    width: 135px;
    height: 135px;
    border-radius: 70px;
    line-height: 132px;
    text-align: center;
    background: #e8e8e8;
}

.thumbnail-border img
{
    display: inline-block;
    vertical-align: middle;
}*/

/*.wrap {
    text-align: center;
    margin: 0 auto;
    padding: 2em 0 3em;
}*/

.wrap{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
}
.hi-icon {
    display: block;
    cursor: pointer;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #fff;
    background-color: #e8e8e8;
}

.hi-icon:hover {
    -webkit-box-shadow: inset 0 0 44px -14px rgb(40,96,144) ;
    -moz-box-shadow: inset 0 0 44px -14px rgb(40,96,144) ;
    box-shadow: inset 0 0 44px -14px rgb(40,96,144) ;
}

/*.hi-icon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-color: #e8e8e8
}*/

.hi-icon:before {
    line-height: 90px;
    display: block;
    -webkit-font-smoothing: antialiased;
}

.hi-icon-sanitary:before {
    content: url(../img/icons/destinations/sanitary.png);
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
}

.hi-icon-plitka:before {
    content: url(../img/icons/destinations/plitka.png);
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
}

.hi-icon-mebel:before {
    content: url(../img/icons/destinations/mebel.png);
    position: absolute;
    margin: 0 auto;
    top: 35px;
    bottom: 0;
    left: 0;
    right: 0;
}

.hi-icon-svet:before {
    content: url(../img/icons/destinations/svet.png);
    position: absolute;
    margin: 0 auto;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
}


/* Effect 5 */
.hi-icon-effect-5 .hi-icon {
    margin-left: 15px;
    /*box-shadow: 0 0 0 4px rgba(255,255,255,1);*/
    overflow: hidden;
    -webkit-transition: box-shadow 1.25s;
    -moz-transition:  box-shadow 1.25s;
    transition: box-shadow 1.25s;
}

.hi-icon-effect-5 .hi-icon:after {
    display: none;
}

.hi-icon-effect-5 .hi-icon:hover {
    background: rgba(255,255,255,1);
    color: #702fa8;
    /*box-shadow: 0 0 0 8px rgba(255,255,255,0.3);*/
    background-color: #e8e8e8
}

.hi-icon-effect-5a .hi-icon:hover:before {
    -webkit-animation: toRightFromLeft 0.6s forwards;
    -moz-animation: toRightFromLeft 0.6s forwards;
    animation: toRightFromLeft 0.6s forwards;
}

@-webkit-keyframes toRightFromLeft {
    49% {
        -webkit-transform: translate(100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toRightFromLeft {
    49% {
        -moz-transform: translate(100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toRightFromLeft {
    49% {
        transform: translate(100%);
    }
    50% {
        opacity: 0;
        transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}

