* {
    border-radius: 0 !important;
}

body {
    font-family: 'HelveticaRegular';
    font-size: 16px;
}

/*@media (max-width: 1024px) {*/
/*body {*/
/*font-size: 14px;*/
/*}*/
/*}*/

hr {
    width: 270px;
    margin: 0;
    padding: 0;
}

a {
    color: #0096ff;
    text-decoration: underline;
}

h2 {
    font-family: 'HelveticaThin';
    font-size: 44px;
}

header {
    margin-bottom: 35px;
}

address {
    font-family: "HelveticaRegular";
    white-space: nowrap;
}

/*---------------------------------------------------------------------------------------*/

/*.jq-selectbox__select {*/
/*border: none;*/
/*}*/

.form-control {
    margin-bottom: 15px !important;
    padding-left: 0;
    padding-bottom: 0;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #000;
    resize: none;
    box-shadow: none;
    font-family: 'HelveticaThinItalic';
    font-size: 16px;
}

/*select.form-control,*/
/*input.form-control {*/
    /*margin-bottom: 15px !important;*/
    /*padding-left: 0;*/
    /*padding-bottom: 0;*/
    /*width: 100%;*/
    /*border: 0;*/
    /*border-bottom: 1px solid #000;*/
    /*resize: none;*/
    /*box-shadow: none;*/
    /*font-family: 'HelveticaThinItalic';*/
    /*font-size: 16px;*/
/*}*/

/*select.form-control {*/
    /*padding-right: 25px;*/
    /*width: 200px !important;*/
    /*-moz-appearance: none;*/
    /*-webkit-appearance: none;*/
    /*appearance: none;*/
    /*background: none;*/
/*}*/

.jqselect {
    cursor: pointer;
}

.jq-selectbox {
    background: none !important;
}

.jq-selectbox__select {
    height: 100%;
    padding-right: 25px;
    width: 200px !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: none;
}

.jq-selectbox__select-text {
    white-space: nowrap;
}

.jq-selectbox__dropdown {
    border: 1px solid #000;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.jq-selectbox__dropdown ul {
    padding-left: 0;
}

.jq-selectbox__dropdown li {
    padding-left: 5px;
    cursor: pointer;
}

.jq-selectbox__dropdown .selected.sel,
.jq-selectbox__dropdown li:hover
{
    background-color: #eee;
}

select.form-control option {
    font-family: 'Helvetica';
    font-style: italic;
}

select.form-control:focus,
input.form-control:focus {
    box-shadow: none;
}

.input-group {
    width: 100%;
}

.input-group-btn {
    width: auto;
    position: absolute;
    right: 0;
    z-index: 100000;
}

.input-group-btn .btn {
    border: none;
    background: transparent;
}

.input-group-btn .btn:focus {
    box-shadow: none;
    outline: 0;
    background: none;
}

.form-group {
    position: relative;
}

.form-group i {
    position: absolute;
    z-index: -1;
    top: 12px;
    right: 6px;
    font-size: 12px;
    cursor: pointer;
    /*vertical-align: super;*/
    /*margin-left: -20px;*/
}

.btn {
    font-size: 16px;
    font-family: 'HelveticaThin';
    text-decoration: none;

}

.border-light {
    border-color: #fff;
}

.border-dark {
    border-color: #000;
}

.btn-primary {
    background-color: #0168b1;
}

/*.text-primary {*/
/*color: #0096ff;*/
/*}*/
/*---------------------------------------------------------------------------------------*/

#header {
    margin-top: 20px;
    margin-bottom: 40px;
}

#header .navbar-brand {
    padding-left: 0;
    padding: 0;
    width: 260px;
    height: auto;
    /*text-align: center;*/
    color: #000;
    text-decoration: none;
    line-height: normal;
}

#header .navbar-brand span:first-child {
    font-family: 'RobotoSlabRegular';
    font-size: 40px;
    letter-spacing: -1px;
}

#header .navbar-brand span:last-child {
    font-family: 'RobotoSlabThin';
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 1px;
}

#header .nav {
    padding-top: 10px;
}

#header .navbar-nav {
    padding-left: 100px;
}

#header .navbar-text {
    /*margin-top: 12px;*/
    font-size: 20px;
}

#header .btn {
    /*font-size: 16px;*/
}

#header address {
    /*padding-top: 25px;*/
    padding-right: 75px;
    /*font-size: 16px;*/
}

@media (max-width: 1200px) {
    #header .navbar-nav {
        padding-left: 35px;
    }
}

/*@media (max-width: 992px) {*/
/*#header address {*/
/*padding-right: 0;*/
/*}*/
/*}*/

@media (max-width: 992px) {
    #header .navbar-nav {
        /*padding-top: 10px;*/
    }

    #header .navbar-nav .navbar-text {
        float: none;
        margin: 0;
    }

    #header address {
        padding-right: 0;
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    #header .navbar-brand {
        width: auto;
        text-align: center;
    }

    #header .nav {
        padding-left: 0;
        text-align: center;
    }
}

/*---------------------------------------------------------------------------------------*/

#menu-top {
    padding-bottom: 20px;
    margin-bottom: 80px;
}

#menu-top .navbar-inverse {
    background-color: #212121;
}

#menu-top .navbar-brand {
    height: auto;
}

/*#menu-top .navbar-collapse {*/
/*position: relative;*/
/*}*/

#menu-top:before {
    content: '';
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    border-bottom: 3px solid #fff;
}

#menu-top a {
    text-decoration: none;
}

#menu-top .dropdown > a {
    /*padding-bottom: 10px;*/
    text-transform: uppercase;
    /*font-size: 16px;*/
    color: #fff;
    white-space: nowrap;
    letter-spacing: 0.35px;
}

#menu-top .dropdown.open > a {
    background: none;
    font-family: 'HelveticaBold';
    letter-spacing: 0;
}

#menu-top .dropdown-menu {
    min-width: 50px;
}

#menu-top .dropdown-menu a {
    white-space: normal;
}

#menu-top .dropdown-menu span.current {
    display: inline-block;
    padding: 3px 20px;
    font-family: 'HelveticaBold';
}

/*#menu-top .navbar-nav .dropdown:nth-child(1) a {width: 128px;}*/
/*#menu-top .navbar-nav .dropdown:nth-child(2) a {width: 208px;}*/
/*#menu-top .navbar-nav .dropdown:nth-child(3) a {width: 164px;}*/
/*#menu-top .navbar-nav .dropdown:nth-child(4) a {width: 211px;}*/
/*#menu-top .dropdown.open > a {*/
/*font-family: 'HelveticaBold';*/
/*}*/

@media (max-width: 1024px) {
    #menu-top .dropdown > a {
        font-size: 14px;
        padding: 12px;
    }
}

/*---------------------------------------------------------------------------------------*/

#promo {
    margin-bottom: 70px;
    background-color: #fbf9f8;
}

@media (max-width: 768px) {
    #promo {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #promo .carousel-indicators {
        margin-left: -30%;
        top: 55% !important;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    #promo .item img {
        max-width: 100%;
        min-width: 100%;
        float: right;
    }

    #promo .item div {
        text-align: center;
        font-family: 'PTSansRegular';
        color: #000000;
        font-size: 16px;
    }

    #promo .item div img {
        max-width: 270px;
        min-width: 270px;
        max-height: 130px;
        min-height: 130px;
    }

    #promo .carousel-indicators {
        margin-left: -30%;
        top: 72%;
    }
}

@media (min-width: 1200px) {
    #promo .item img {
        max-width: 870px;
        min-width: 870px;
        max-height: 360px;
        min-height: 360px;
        float: right;
    }

    #promo .item div {
        text-align: center;
        font-family: 'PTSansRegular';
        color: #000000;
        font-size: 16px;
    }

    #promo .item div img {
        max-width: 270px;
        min-width: 270px;
        max-height: 130px;
        min-height: 130px;
        margin-bottom: 45px;
    }

    #promo .carousel-indicators {
        margin-left: -17%;
        bottom: 0px;
    }
}

#promo .item div a {
    font-family: "HelveticaThin";
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 45px;
}

#promo .carousel-indicators li {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    text-indent: -999px;
    margin-left: 6px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 13px;
    height: 13px;
    border: none;
    border-radius: 10px !important;
}

#promo .carousel-indicators .active {
    background-color: #ffffff;
}

/*---------------------------------------------------------------------------------------*/

#filters {
    margin-bottom: 70px;
}

#search-navigation {
    background: none;
    border: none;
    box-shadow: none;
}

/*---------------------------------------------------------------------------------------*/

#categories {
    padding-left: 0;
}

#categories a {
    font-family: 'PTSansRegular';
    color: #021d1e;
}

#categories .col-md-3 {
    text-align: center;
}

@media (max-width: 992px) {
    /*#categories .col-md-3:first-child {*/
    /*margin-left: -40px;*/
    /*}*/
}

#categories .thumbnail {
    border: none;
}

#categories .thumbnail img {
    cursor: pointer;
}

#categories .thumbnail a:hover {
    text-decoration: underline;
}

#categories .thumbnail .caption {
    display: inline-block;
    padding-top: 20px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

/*---------------------------------------------------------------------------------------*/

#menu-middle {
    margin-bottom: 70px;
}

#news {
    margin-bottom: 0;
    border: none;
    box-shadow: none;
    font-family: 'PTSansRegular';
    color: #021d1e;
    background-color: #f9f8f8;
}

#news h4 {
    color: #021d1e;
}

#news li {
    margin-bottom: 15px;
    line-height: 20px;
}

#news a {
    color: #021d1e;
}

#news a em {
    font-family: 'PTSansItalic';
    font-style: normal;
}

/*---------------------------------------------------------------------------------------*/

#stock {
    margin-bottom: 60px;
}

#stock p {
    font-family: 'HelveticaThin';
}

#stock a {
    color: #000;
}

/*---------------------------------------------------------------------------------------*/

#blog {
    line-height: 24px;
    margin-bottom: 60px;
}

#blog header {
    margin-bottom: 45px;
}

#blog h3 {
    font-family: 'HelveticaThin';
    font-size: 44px;
}

#blog ul {
    /*list-style-type: square;*/
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

/*li { display:inline-block; }*/
#blog li::before {
    content: "\25aa";
    margin-right: 10px;
    color: #0096ff;
}

#blog img {
    max-width: 100%;
}

/*---------------------------------------------------------------------------------------*/

#gallery {
    margin-bottom: 70px;
}

/*---------------------------------------------------------------------------------------*/

#footer {
    padding-top: 45px;
    padding-bottom: 40px;
    font-family: "HelveticaThin";
    background-color: #242424;
    color: #ffffff;
    line-height: 24px;
    overflow: hidden;
}

#footer h2 {
    margin-top: 30px;
    white-space: nowrap;
}

#footer .catalog {
    margin-top: 45px;
}

#footer p {
    font-family: "HelveticaRegular";
    margin-top: 45px;
    font-size: 16px;
    font-weight: 400;
}

#footer h4 {
    font-size: 16px;
    text-transform: uppercase;
    /*margin-top: 50px;*/
    margin-bottom: 25px;
}

#footer ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

#footer a {
    color: #ffffff;
}

#footer address {
    margin-bottom: 65px;
}

@media (max-width: 768px) {
    #footer ul {
        margin-bottom: 25px;
    }
}

#copyright {
    padding-top: 20px;
    padding-bottom: 20px;
}